.highlightservices {
    z-index: 2; position: relative; margin-top: -80px; width: 100%; float: left; padding: 0 0 4rem 0;
    .highlightcontent {
        width: 100%; float: left; @include fBS(); 
        .highlight {
            float: left;  width: auto;
            &.png { 
                width:56%;
                ul{
                    li { width: 23%;}
                }
            }
            &.lpg { 
                width:42%;
                ul{
                    li { width: 31%;}
                }
            }

            h2 { 
                width: 100%; float: left;
                span {  display: inline-block; background-color: $blu1; padding: 10px 20px; text-align: center; color: $wht1; @include Arial(); font-size:14px; line-height: 20px; }
            }
            ul {
                width: 100%; float: left;   @include fBS(); 
                li {
                    list-style: none; 
                    a { 
                       position: relative; width: 100%; float: left;  padding: 1rem;  background-color: $wht1; border-bottom: solid 2px $ong1; border-radius:0 0 3px 3px; cursor: pointer; @include outT();
                        aside {
                            z-index: 2; position: relative;  width: 100%; float: left;  text-align: center; 
                            img { max-width: 100%; filter:none;  @include outT(); }
                        }
                        p { z-index: 2; position: relative;  width: 100%; float: left; margin-top: 0.2rem; text-align: center;  color:$blu1; font-size:16px; line-height: 36px; white-space:nowrap; @include aBold(); @include outT(); }
                        &:before { z-index:1; content: '';position:absolute; left: 0; top: 0; width: 1px; height: 100%; background: transparent; @include outT();  }
                        &:hover { 
                            border-color: $blu1; background-color: $wht1; @include inT();
                            img { filter: brightness(0) invert(1);  @include inT();  }
                            p { color:$wht1; @include inT(); }
                            &:before {  width: 100%; height: 100%; background: $blu1;  @include inT(); }
                        }
                    }
                }
            }
            
        }
    }
}





.infomain {
    width: 100%; float: left; background-color: $ong1; padding: 3rem 0;
            h2 { width: 100%; float: left; text-align: center; @include aBold(); color:$wht1; font-size:20px; letter-spacing: 0.78px; line-height:32px; }
            h3 { 
                width: 100%; float: left; margin: 1rem 0 2rem 0; text-align: center; color:$wht1; @include Arial(); font-size:16px; letter-spacing:0.45px; line-height:28px; 
                span { display: block; margin-top: 1px;  @include aMedium();  }
            }
            ul {
                width: 100%; float: left; @include fCS();
                li {
                    list-style: none; 
                    aside { 
                        width: 100%; float: left;  text-align: center;
                        img { max-width: 100%; }
                    }
                    p { margin-top: 0.7rem; width: 100%; float: left;  text-align: center; color:$wht1; font-size:20px; line-height: 28px; @include aBold();  } 
                }
            }
}




.weoffers {
    width: 100%; float: left; background-color: $wht1; padding:4rem 0 5rem 0;
        h2 { 
            width: 100%; float: left; text-align: left; margin-bottom: 1.5rem; @include fSC(); 
            span {  color:$blk1; font-size:26px; letter-spacing: normal; line-height: 35px; @include aBlack();  }
            img { margin-left:5px; max-width: 100%;}
        }
        .offergrid { 
            width:100%; float:left; display: grid; gap:1rem; grid-auto-rows: minmax(auto, auto);
            .itemgrid { 
                background:transparent; display: block; position: relative;
                img { width: 100%; float: left; }
                section { 
                    z-index: 2; position:absolute; background-color: $wht1; padding:2rem 1.5rem;  box-shadow: 0px 6px 12px #00000014;
                    h3 { width: 100%; float: left; text-align: left; color:$blk1; font-size:20px; line-height: 26px;  @include aBold(); }
                    p { width: 100%; float: left;  margin:0.5rem 0 1rem 0; text-align:left; color:$blk2; font-size:16px; line-height: 28px; @include Arial();  }
                    aside {
                        width: 100%; float: left; text-align: left;
                        a { 
                            display: inline-block; width:auto; text-align: center; text-decoration: none; @include outT(); padding:10px 25px; border:none; background-color:$ong1; color: $wht1; @include aMedium(); font-size:16px; letter-spacing: 0.4px; line-height: 20px; text-transform: uppercase;
                            &:hover {  @include inT();  background:$ong2; box-shadow: 4px 8px 12px #00000029;  color: $wht1; }
                        }
                    }
                }
                &.one { 
                    grid-column:1;grid-row:1; 
                    section { width: 580px; top:30%; left:90%; }
                 }
                &.two { 
                    grid-column: 1; grid-row: 2; 
                    img { width: 85%; float: right; }
                    section { width: 450px; top:25%; left:0%; }
                }
                &.four { 
                    grid-column: 1; grid-row:3;
                    section { width: 550px; top: auto; bottom:-20px; left:90%; }
                }
                &.three {
                     margin-top: 100px; margin-bottom: -100px; grid-row-start: 2; grid-row-end:3; grid-column-start:2; grid-column-end:2;
                     section { width: 450px; top: -90px; left: 6%; }
                 }
                
            }
        }
}



/* #################### infocontent  #################### */
.infocontent{
    width: 100%; float: left; background-color:$wht1; position: relative; overflow: hidden;
    .infovideo_web { display: block; z-index: 1; position: relative; top: 0; left: 50%; transform: translateX(-50%); height:100%; width: 100%; float: left; border: 0; user-select: none;  }
    .infoimg_ipad { display: none; z-index: 1; position: relative; top: 0; left: 0; height:100%; width: 100%; float: left; border: 0; user-select: none;  }
    .infoimg_mobile { display: none; z-index: 1; position: relative; top: 0; left: 0; height:100%; width: 100%; float: left; border: 0; user-select: none;  }
    .infocontentInner {
        width: 100%; height: 100%; z-index:2; position: absolute; top: 0; left: 0; background: rgba(52,58,59,0.6);  text-align: center; @include fCC();
        section { 
            width: 95%; max-width: 1080px; margin: 0 auto; float: none; display: flow-root;
            h2 { width: 100%; float: left; text-align: center;  color:$wht1; font-size:28px; letter-spacing: normal; line-height: 44px;   text-transform: uppercase; @include aBlack(); }
            h3 { 
                width: 100%; float: left; margin: 0.5rem 0 1rem 0; text-align: center; color:$wht1; font-size:16px; line-height: 28px;   @include Arial(); font-weight: 500; 
             }
            p { 
                width: 100%; float: left; text-align: center; color:$wht1; font-size:18px;  line-height: 22px; @include aBold(); 
                a {
                    text-decoration: none; color: $wht1;
                    &:hover { color: $ong1; }
                }
            }
            aside {
                width: 100%; float: left; margin: 1rem 0 0 0;  text-align: center;
                a { 
                    display: inline-block; width:auto; text-align: center; text-decoration: none; @include outT(); padding:10px 25px; border:none; background-color:$ong1; color: $wht1; @include aMedium(); font-size:16px; letter-spacing: 0.4px; line-height: 20px; text-transform: uppercase;
                    &:hover {  @include inT(); background-color:$ong3;  color: $wht1;  box-shadow: 4px 8px 12px #00000029; }
                }
            }
        }
        
    }
}
 



@media only screen and (max-width:1565px) 
{

    .weoffers {
            .offergrid { 
                .itemgrid { 
                    background:transparent; display: block; position: relative;
                    img { width: 100%; float: left; }
                    section { 
                          padding:1.5rem 1rem;  
                    }
                    &.one { 
                        section {  top:10%;  }
                     }
                    &.two { 
                        section { width: 350px; top:5%;  }
                    }
                    &.three {
                            margin-top: 40px; margin-bottom: -100px;
                         section { width: 450px; top: -90px; left: 6%; }
                     }
                    
                }
            }
    }

 

}



@media only screen and (max-width:1300px) 
{
    .weoffers {
            .offergrid { 
                .itemgrid { 
                    section { 
                        padding:1rem;  
                        h3 { font-size: 18px; }
                        p { margin:0.3rem 0 0.5rem 0; font-size: 16px; line-height: 22px; }
                        aside {
                            a { font-size: 14px;letter-spacing:0.35px;line-height: 18px; }
                        }
                    }
                    &.one { 
                        section {  top:10%;  }
                    }
                    &.two { 
                        section { width: 350px; top:5%;  }
                    }
                    &.three {
                            margin-top: 40px; margin-bottom: -100px;
                        section { width: 450px; top: -90px; left: 6%; }
                    }
                    
                }
            }
    }
}



@media only screen and (max-width:1255px) 
{
    .highlightservices {
          margin-top:-55px;  padding: 0 0 3rem 0; 
        .highlightcontent {
            .highlight {
                &.png { 
                    width: 55%;
                    ul{ 
                        li { width: 49%;}
                    }
                }
                &.lpg { 
                    width: 43%;
                    ul{
                        li { width: 49%;}
                    }
                }
    
                ul {
                    flex-wrap: wrap;
                    li {
                        a { 
                            padding:0.7rem 0.9rem; border-radius:0; @include fSC();
                            aside {
                                width: auto; text-align: left; 
                                img { max-width: 25px;  }
                            }
                            p { margin: 0 0 0 0.7rem; font-size:16px; width:auto; text-align: left;  }
                        }
                    }
                }
                
            }
        }
    }   




    .infomain {
                h2 { font-size:22px; letter-spacing: 0.78px; line-height:28px; }
                h3 { 
                  margin: 1rem 0 2rem 0; font-size:16px; line-height:24px; 
                }
                ul {
                    li {
                        aside { 
                            img { max-width: 50px; }
                        }
                        p { margin-top: 0.5rem; font-size:16px; line-height:24px; } 
                    }
                }
    }


    
    .weoffers {
        padding: 3rem 0 4rem 0;
            .offergrid { 
                display: block; gap: 0; grid-auto-rows: 0;
                .itemgrid { 
                    width: 100%; float: left; 
                    section { 
                        padding:2rem; margin-top: -7%; float: right; width: 80%; position: relative; left:auto;  top: auto;  right:10%; bottom: 0; 
                        h3 { font-size: 18px; }
                        p { margin:0.3rem 0 0.5rem 0; font-size: 16px; line-height: 22px; }
                        aside {
                            a { font-size: 14px;letter-spacing:0.35px;line-height: 18px; }
                        }
                    }
                    &.one, &.two, &.four, &.three { 
                        margin:0.5rem 0 1rem 0; padding: 0;
                        img { width: 100%;}
                        section {  width: 80%;  left:auto;  top: auto;    right: 10%; bottom: 0;  }
                    } 
                    
                }
            }
    }


    /* #################### infocontent  #################### */
    .infocontent{
        .infocontentInner { 
            section {
                h2 {font-size:22px; line-height: 36px; }
                h3 {  margin: 0.3rem 0 0.6rem 0; font-size:16px; line-height: 22px; }
                p { display: none; }
                aside { margin: 0; }
            }
        }
    }

    
}

@media only screen and (max-width:1023px) 
{
    .highlightservices {
        margin-top:0px; padding: 2rem 0; 
        .highlightcontent {
            display: none;
        }
    }
    

    /* #################### infocontent  #################### */
    .infocontent{
        .infovideo_web { display: none; }
        .infoimg_ipad { display: block;}
        .infoimg_mobile { display: none;}
        .infocontentInner { background:rgba(35, 61, 77, 0.7);  }
    }

}


@media only screen and (max-width:767px) 
{
    .highlightservices {
        .highlightcontent {
            .highlight {
                &.png { 
                    width: 48%;
                    ul{ 
                        li { width: 100%;}
                    }
                }
                &.lpg { 
                    width: 48%;
                    ul{
                        li { width: 100%;}
                    }
                }
                ul {
                    flex-wrap: wrap;
                    li {
                        a {
                            padding:0.5rem; border-bottom-width: 1px;
                            aside {
                                img { max-width: 22px;  }
                            }
                            p { margin: 0 0 0 0.5rem; font-size:14px; line-height: 24px;  }
                        }
                    }
                }
                
            }
        }
    }   


    .infomain {
        padding: 2rem 0;
            h3 { margin:0.5rem 0 1rem 0;  }
            ul {
                flex-wrap: wrap; 
                li { margin: 0.6rem 0; width: 35%;}
            }
    }



 
 

}




@media only screen and (max-width:599px) 
{
    .highlightservices {
        padding:2rem 0; margin-top:0px;  
    }



    .weoffers {
            h2 {
                margin-bottom: 0.7rem; 
                span { font-size:22px; letter-spacing: 1.32px; line-height: 36px; } 
            }
            .offergrid { 
                .itemgrid { 
                    margin: 0.5rem 0 1.5rem 0;
                    section { 
                        padding:1rem; margin-top: -15%;  width: 84%; right: 8%; 
                        p { margin:0.5rem 0 0.8rem 0; }
                    }
                    &.one, &.two, &.four, &.three { 
                        margin: 0.5rem 0 1.5rem 0;
                        section {  width: 84%; right: 8%; }
                    } 
                    
                }
            }
    }


 

}



@media only screen and (max-width:479px) 
{
    .highlightservices {
        .highlightcontent {
            .highlight {
                ul {
                    li {
                        a {
                            aside {
                                img { max-width:16px;  }
                            }
                            p { font-size:12px; line-height:30px;  }
                        }
                    }
                }
                
            }
        }
    }  

    .infomain {
        padding: 2rem 0;
            h2 {  font-size: 20px; line-height: 26px; letter-spacing: 0.6px; }
            h3 { 
                margin:0.5rem 0 1rem 0;  
                span { display: inline; }
            }
            ul {
                width: 100%;  
                li { 
                    margin: 0.3rem 0; width:100%; max-width:280px; @include fSC(); 
                    aside {
                        width: auto;
                        img { max-width:38px; }
                    }
                    p { width: auto; margin-top: 0; margin-left: 1rem; }
                }
            }
    }

 
        .weoffers {
            padding: 2rem 0 2rem 0;
        }


        
    /* #################### infocontent  #################### */
    .infocontent{
        .infovideo_web { display: none; }
        .infoimg_ipad { display: none;}
        .infoimg_mobile { display: block;}
    }
 

}