.checkofferswrap{
    width: 100%; float: left;  overflow: hidden; background: $blu1; @include fSS(); align-items: stretch; flex-direction: row-reverse;
    img { width: 55%; float:right;}
    .checkoffers_web { display: block;  }
    .checkoffers_mobile { display: none;  }
    .checkoffercontent {
        width: 45%; float:left; position: relative; padding: 3rem 7%;  @include fSC(); flex-wrap: wrap;
        &:after { content: "";position: absolute; right:-195px;bottom: 0;width: 200px;height: 100%;background:url('../images/service/checkoffers_bg1.png') no-repeat left top; background-size: 100% 100%; }
        section { 
            width: 100%; float:left; 
            h2 { width: 100%; float: left; text-align:left;  color:$wht1; font-size:26px; letter-spacing: normal; line-height: 37px;  text-transform: uppercase; @include aBlack(); }
            h3 { 
                width: 100%; float: left;  margin: 0.4rem 0 1rem 0;  text-align: left; color:$wht1; font-size:16px;  line-height: 26px; @include Arial();  
                span { display: block; }
            }
            p {
                width: 100%; float: left; text-align: left;
                a { 
                    display: inline-block; width:auto; text-align: center; text-decoration: none; @include outT(); padding:10px 20px; border:none; background-color:$ong1; color: $wht1; @include aMedium(); font-size:16px; letter-spacing:normal; line-height:20px; text-transform: uppercase;
                    &:hover {  @include inT(); background-color:$ong3;  color: $wht1;  box-shadow: 4px 8px 12px #00000029; }
                }
            }
        }
        
    }
}


 


@media only screen and (max-width:1681px) 
{
 
    .checkofferswrap{
        .checkoffercontent { padding: 3rem 2%;   }
    }



}





@media only screen and (max-width:1300px) 
{
    .checkofferswrap{
        img { width: 50%;  }
        .checkoffercontent {
            width: 50%;  
            section { 
                h2 {font-size:22px; letter-spacing: 1.20; line-height:36x;   }
                h3 { font-size:16px;  line-height: 26px;  }
                p {
                    a {  font-size:14px; letter-spacing:0.35px; line-height:16px;  }
                }
            }
            
        }
    }
}

@media only screen and (max-width:1255px) 
{
    .checkofferswrap{
        .checkoffercontent { padding:2rem 1% 2rem 4%;    }
    }
}

@media only screen and (max-width:1023px) 
{
    .checkofferswrap{
        flex-wrap: wrap; flex-direction: column-reverse;
        img { width: 100%;  }
        .checkoffercontent {
            width: 100%; padding:2rem 4%;    
            &:after { right:0;bottom:-95px;width: 100%;height: 100px;background:url('../images/service/checkoffers_bg2.png') no-repeat left top; background-size: 100% 100%; }
            section { 
                h2 {font-size:22px; letter-spacing: 1.20; line-height:36x;   }
                h3 { 
                    font-size:16px;  line-height: 26px;  
                    span { display: inline; }
                }
                p {
                    a {  font-size:14px; letter-spacing:0.35px; line-height:16px; padding: 10px 15px;  }
                }
            }
            
        }
    }
}

@media only screen and (max-width:767px) 
{
 
}





@media only screen and (max-width:599px) 
{

    
 
}




@media only screen and (max-width:479px) 
{

    .checkofferswrap{
        .checkoffercontent{
            &:after { bottom: -67px;  height: 70px; }
        }
    } 

}