@font-face {
    font-family:'Arial-Regular';
    src: url('../fonts/Arial-Regular.woff2') format('woff2'), url('../fonts/Arial-Regular.woff') format('woff');
    font-weight:300; 
    font-style:normal;
    font-stretch:normal;
}
@font-face {
    font-family:'Arial-Medium';
    src: url('../fonts/Arial-Medium.woff2') format('woff2'), url('../fonts/Arial-Medium.woff') format('woff');
    font-weight:500; 
    font-style:normal;
    font-stretch:normal;
}
@font-face {
    font-family:'Arial-Bold';
    src: url('../fonts/Arial-Bold.woff2') format('woff2'), url('../fonts/Arial-Bold.woff') format('woff');
    font-weight:700; 
    font-style:normal;
    font-stretch:normal;
}
@font-face {
  font-family:'Arial-Black';
  src: url('../fonts/Arial-Black.woff2') format('woff2'), url('../fonts/Arial-Black.woff') format('woff');
  font-weight:900; 
  font-style:normal;
  font-stretch:normal;
}