
.aboutWrap { 
    width: 100%; float: left; padding:2rem 0 5rem 0; background: $wht1;

    .aboutInfo {
        width: 100%; float: left;
        p { 
            width: 100%; float: left; text-align:left; color:$blk2; font-size:16px; line-height: 26px; @include Arial();  
        }
    }


    .aboutSupportedby {
        margin:5rem 0; width: 100%; float: left;
        h2 { 
            width: 100%; float: left; text-align: center; position: relative;
            &:before { content:''; z-index: 1; position: absolute; left: 0; top: 49%; width: 100%; float:left; border-bottom:dashed 2px $ong4; height: auto; }
            span {z-index: 2; position: relative; background: $wht1; display: inline-block; padding:0 1.5rem; text-align: center; @include aBold(); color:$ong4; font-size: 24px; line-height:48px;  }
        }
        ul {
            padding:1rem 0 2rem 0; width: 100%; float: left; @include fBC();
            li {
                list-style: none;
                img { max-width:95%;}
            }
        }
        p { 
            position: relative; width: 100%; float: left; padding-top: 2rem; text-align: center;  
            &:after { content: ''; position: absolute; left: 10%; top: 0; width: 75%; height:1px;  border-top:dashed 2px $ong4; }
            a {
                text-decoration: none; color:$blu1; @include aBold();  font-size:16px; line-height:26px; @include outT();
                i.fa { padding:0 5px;  @include outT(); }
                &:hover {
                    color: $blk1;  @include inT();
                    i.fa { padding:0 0 0 10px; @include inT(); }
                }
            }
        }
    }


    .aboutContainer { 
        width: 100%; float: left;  @include fBC(); position: relative;
        .aboutDetails {
            position: relative; width: 54%; float: left;
            img { width: 100%;  height: 100%; }
            .aboutinfo_web { display:block; }
            .aboutinfo_mob { display: none; }
            ul {
                position: absolute; top:5%; left: 10%; width:90%;  height: 90%; @include fBC(); justify-content: space-evenly; flex-wrap: wrap; 
                li { 
                    list-style: none; height: inherit; width: 45%; height: auto; @include fCC(); flex-wrap: wrap;
                    h4 {  width: 100%; float: left; color:$wht1; text-align: left; text-shadow: 0px 3px 6px #00000029; font-size: 42px; line-height:66px; @include aBlack(); }
                    p {  width: 100%; float: left; color: $wht1; text-align: left; text-shadow: 0px 3px 6px #00000029; font-size: 16px; line-height: 26px; @include aBold(); }
                }
             }
        }
        .aboutMaps {
            position: relative; width: 42%; float: left; @include fCC();
            img { width: 100%;   }
            ul {
                position: absolute; bottom: 0; right:0; width:auto;
                li {
                    list-style: none; margin:0.5rem 0; @include fSC();
                    span { 
                        width: 16px; height: 16px; margin-right:0.7rem; 
                        &.map_color_1 { background:#ffffff url('../images/frontimage/about/Icon-Corporate-Offices.png') no-repeat left top; background-size: 100% 100%; }
                        &.map_color_2 { background:#F2BE9F; }
                        &.map_color_3 { background:#ECA37C; }
                        &.map_color_4 { background:#F8DDCB; }
                        &.map_color_5 { background:#E57B4C; }
                        &.map_color_6 { background:#FCEFE4; }
                     }
                    p { width: auto;  text-align:left; color:$blk2; font-size:14px; line-height:20px; @include Arial();   }
                }
            }
        }
    }



    .aboutNetworks {
        margin:5rem 0 0 0; width: 100%; float: left;
        h2 { 
            width: 100%; float: left; text-align: left; @include fSC(); 
            span {  color:$blk1; font-size:26px; letter-spacing:1.68px; line-height: 35px; @include aBlack();  }
            img { margin-left:5px; max-width: 100%;}
        }
        p { 
            width: 100%; float: left; margin: 1rem 0 2rem 0; text-align:left; color:$blk2; font-size:16px; line-height: 26px; @include Arial();  
        }
        aside { 
            width:100%; float: left; text-align: left; 
            a {
                text-decoration: none; @include fSC(); color:$blu1; @include aBold(); font-size:16px; line-height:26px; @include outT();
                i.fa { padding:0 5px; margin-top:-2px;  @include outT(); }
                span {  border-bottom: solid 1px $wht1;   @include outT();  }
                &:hover {
                    color: $blk1;  @include inT();
                    i.fa { padding:0 0 0 10px; @include inT(); }
                    span {  border-bottom-color:$blk1; @include inT(); }
                }
            }
        }
    }



}




/* #################### cgd licenses popup  #################### */
.cgd_licensesBG { 
    display:none; z-index:8; position: fixed; left: 0; top: 0; height:100%; width: 100%;  background-color:$blk1; background: rgba(0,0,0,0.9); background-color: #00000099; 
}
.cgd_licenses_popup { 
    display: none;  z-index:9; position:fixed; left:50%; top:50%; transform: translate(-50%, -50%); width: 95%; max-width:1640px; height:auto;  background-color:$wht1;  border-radius:0px; margin:0 auto; padding:3rem;  
    aside { 
         position:fixed; right:0px; top:-35px; width:auto; height:auto; border-radius:0; padding: 0; @include fCC(); line-height: 1; background:transparent; text-align: center; border: none; color: $wht1; cursor: pointer; @include outT();
        img { max-width:32px; filter: brightness(0) invert(1);  @include outT(); }
        &:hover { 
            background:none;  @include inT();
            img { filter: brightness(100%) invert(0); @include inT(); }
        }
    } 
    section { 
        width: 100%; float: left; text-align: left; @include fBS(); 
        div { 
            width: 48%; float: left;
            h2{ width: 100%; float: left; margin: 0 0 1.5rem 0; text-align:left; color:$blk1; font-size:26px; line-height: 1.2; @include aBold();  }
            img { display: block; width: 100%; float: left; border: solid 2px $ong1; padding: 5px; }
        }
        ul { 
            width: 48%; float: left; padding:3rem 0 0 0;
            li { 
                list-style: none; position: relative; padding-left: 15px; margin:1rem 0;
                &::after { content: "";position: absolute;left:0px;top: 5px;height: 12px;width: 8px;background: url(../images/frontimage/icon2.png) no-repeat;background-position: left 0px top 0px; }
                a { 
                    text-decoration: none; color: $blk1; font-size:18px; line-height: 1.4; @include Arial(); @include outT();
                    &:hover { color: $ong1;  @include inT(); }
                }
            }
        }
    }
}



@media only screen and (max-width:1565px) 
{
    /* #################### cgd licenses popup  #################### */
    .cgd_licenses_popup { 
         padding:2rem;   
        section { 
            div { 
                width: 48%;
                h2{ margin: 0 0 1rem 0;font-size:24px;  }
            }
            ul { 
                width: 48%; padding:2rem 0 0 0;
                li { 
                    margin:1rem 0;
                    a { font-size:16px; line-height: 1.2; }
                }
            }
        }
    }

}

@media only screen and (max-width:1300px) 
{
    .aboutWrap { 
         padding:2rem 0 4rem 0;  


        .aboutInfo {
            p { font-size:16px; line-height: 26px; }
        }
    
    
        .aboutSupportedby {
            margin:4rem 0; 
            h2 { 
                span { padding:0 2rem; font-size: 24px; line-height:36px;  }
            }
            ul {
                li {
                    img { max-width: 85%;}
                }
            }
            p { 
                a { font-size:16px; line-height:24px;  }
            }
        }
    
    
        .aboutContainer { 
            .aboutDetails {
                ul {
                    li { 
                         width: 50%; 
                        h4 { font-size: 36px; line-height: 50px; }
                        p {  font-size: 16px; line-height: 24px; }
                    }
                 }
            }
            .aboutMaps {
                ul {
                    li {
                        margin:0.3rem 0; 
                        span { 
                            width: 15px; height: 15px; margin-right:0.4rem; 
                         }
                    }
                }
            }
        }
    
    
    
        .aboutNetworks {
            margin:4rem 0 0 0;  
            h2 { 
                span { font-size:24px; letter-spacing:0.92px; line-height: 30px; }
            }
            p { font-size:16px; line-height: 24px;  }
            aside { 
                a {font-size:16px; line-height:24px; }
            }
        }


    }


    /* #################### cgd licenses popup  #################### */
    .cgd_licenses_popup { 
        padding:1.5rem;   
       section { 
           div { width: 40%;}
           ul { width: 55%;}
       }
   }

}


 
@media only screen and (max-width:1023px) 
{
    .aboutWrap { 
        .aboutContainer { 
            flex-wrap: wrap;
            .aboutDetails {
                width: 100%;
               ul { left: 10%; width: 90%; }
            }
            .aboutMaps {
                width:100%; margin-top: 2rem;
                img {width: 60%;}
                
            }
        }
    }


    /* #################### cgd licenses popup  #################### */
    .cgd_licenses_popup { 
        padding:0; height: 80%;
       section { 
        padding: 1.5rem 2rem; height: 100%; flex-wrap: wrap; align-items: flex-start;  overflow: hidden; overflow-y: scroll;
           div { width: 100%;}
           ul { width: 100%; padding: 1rem 0 0 0; }
       }
   }

}


@media only screen and (max-width:767px) 
{
 
}

@media only screen and (max-width:599px) 
{
    .aboutWrap { 
        .aboutSupportedby {
            h2 {
                span {padding: 0 1rem; line-height: 1.2; }
            }
            ul {
                flex-wrap: wrap; justify-content: center;
                li {
                    text-align: center; margin:0.5rem 0; width: 50%;
                    img { max-width: 85%;}
                    &:last-child { width: 100%; }
                }
            }
            p { 
                text-align: left;
                &:after { width: 60%; left: 20%;}
                a { font-size:16px; line-height:24px;  }
            }
        }   



        .aboutContainer { 
            .aboutMaps {
                img {width: 70%;}    
            }
        }



    }
}

@media only screen and (max-width:479px) 
{
    .aboutWrap { 
        padding:2rem 0 3rem 0;  
    
        .aboutSupportedby {
            margin:3rem 0; 
            h2 { 
                span { padding:0 0.5rem; font-size: 22px; line-height:1.3;  }
            }
        }
    
        .aboutContainer { 
            .aboutDetails {
                .aboutinfo_web { display: none; }
                .aboutinfo_mob { display:block; }
                ul {
                    left: 10%; width: 85%;
                    li { 
                        width: 100%;
                        h4 { font-size: 30px; line-height:1.4; }
                        p {  font-size: 16px; line-height: 28px; }
                    }
                 }
            }
            .aboutMaps {
                flex-wrap: wrap;
                img {width: 90%;}    
                ul {
                    position:static; width: 100%; float: left;  margin-top:1rem;
                    li {
                        margin:0.5rem 0;  width: 50%;  float: left;
                        span { 
                            width: 15px; height: 15px; margin-right:0.4rem; 
                         }
                        p { font-size: 12px; }
                    }
                }
            }
        }
    
    
        .aboutNetworks {
            margin:3rem 0 0 0;  
            h2 { 
                span { font-size:22px; letter-spacing:1.32px; line-height: 36px; }
            }
            p { font-size:16px; line-height: 26px;  }
            aside { 
                a {font-size:16px; line-height:28px; }
            }
        }
    }
}



@media screen and (min-device-width: 480px) and (max-device-width: 1023px) and (orientation : landscape)
{
    /* #################### cgd licenses popup  #################### */
    .cgd_licenses_popup { 
        transform: translate(-50%, -45%);
   }
}