.cngstationWrap { 
    width: 100%; float: left; background: $wht1;
    .wrapper {  width: 100%; max-width: 100%; padding-left:7%; @include fSS(); align-items: stretch; }

    .cngstation {
        width: 30%; float: left;  padding:2rem 1.5rem 0 0; background-color: $wht1;    

        .cngstationheading { 
            width: 100%; float: left; @include fBC();  padding:0 1%;  margin-bottom:2rem;
            h2 {
                width: auto; float: left; text-align: left; color: $blk1; font-size:22px; line-height: 1; @include aBold();
                span { @include Arial(); font-size: 14px; }
            }
            aside {
                width: 155px; float: right; text-align: right; border-bottom: solid 1px $blk7; 
                span { display: none; }
                input[type='text'] { 
                    background:transparent url('../Images/frontimage/search2.png') no-repeat; background-position:right 8px top 50%; margin:0; width:100%; float: right; border:none;  outline:none; padding:0.5rem 2rem 0.5rem 0;  font-size: 16px; line-height: 1; color: $blk7; @include Arial();
                    &::placeholder { color: $blk7; opacity: 1; }      
                    &:-ms-input-placeholder { color: $blk7; opacity: 1; }
                    &::-ms-input-placeholder { color: $blk7; opacity: 1;  }
                } 
            }
            p { display:none;}
        }
        .cngstationfilter { 
            width: 100%; float: left; padding:0 1%; margin-bottom: 2rem;
            h2 { width: 100%; margin-bottom:1rem; float: left; text-align: left; color: $blk1; font-size:16px; line-height:26px; @include aBold(); }
            ul { 
                width: 75%; float: left; @include fSS(); flex-wrap: wrap;
                li { 
                    position: relative; list-style: none;  float: left;
                    &:nth-child(1) {  width: 47%;  margin: 0 3% 0 0; }
                    &:nth-child(2) {  width: 47%;  margin: 0  0 0 3% ; }
                    &:nth-child(3) { width:100%;   }
                    .cngOR { 
                        @include fCC(); position: relative; width: 100%; float: left;  margin:1.2rem 0 0.5rem 0;
                        span { z-index: 2; position: relative; width: 27px; height: 27px;  padding: 0.4rem; background-color: $blk8; border-radius: 50%; @include fCC(); text-align: center; font-size:12px; line-height: 1; color:$wht1; @include Arial();  }
                        &:before, &:after { display: none; content: ''; z-index: 1; position: absolute; top: 50%; width: 30%; height: 1px; background-color: $blk8; line-height: 1; font-size: 0; }
                        &:before { left: 20%; }
                        &:after { right: 20%;  }
                    }
                    .erromsg { display: none; width: 100%; float: left; margin-top: 5px; font-size: 12px; color:$ong1; @include Arial(); text-align: left; }
                    p {  width: 100%; float: left; margin-top: 0.7rem; text-align: left;  font-size: 14px; color:$blk7; @include Arial();   }
                    
                    input[type='text'] {  
                        width: 100%; float: left; padding:0.6rem 0; background:transparent; outline: none; border:none; border-bottom: solid 1px $blk8; text-align: left; font-size: 16px; line-height: 1; color:$blk7; @include Arial();
                        &::placeholder { color: $blk7; opacity: 1; }      
                        &:-ms-input-placeholder { color: $blk7; opacity: 1; }
                        &::-ms-input-placeholder { color: $blk7; opacity: 1;  }
                    }
                    select {  
                        width: 100%; float: left; padding:0.4rem 0; background:transparent; outline: none; border:none; border-bottom: solid 1px $blk8; text-align: left; font-size: 16px;  line-height: 24px; color: $blk7;  @include Arial(); border-radius: 0; text-indent:1px; text-overflow: ''; -webkit-appearance:none; appearance:none; background:transparent url('../images/frontimage/dd_black.png') no-repeat; background-position:right 5px center; 
                        option { 
                            color: $blk1;      
                            &:disabled { user-select: none; pointer-events: none; }
                        }
                    }
                    
                }
            }
            ol { 
                padding-top: 2.7rem; width: 20%; float: right; @include fSS(); flex-direction: column; 
                li { 
                    width: 100%; float: left; padding: 0.5rem 0; list-style: none; text-align: center;
                    a {
                        text-decoration: none; 
                        i.fa.fa-refresh { font-size: 24px; color: $blk1; @include outT(); }
                        &:hover { 
                           text-decoration: none; 
                           i.fa.fa-refresh { color: $ong1; @include inT(); }
                        }
                   }
                    input[type='submit'], input[type='button'] { 
                        display: inline-block; width:100%; text-align: center; text-decoration: none; @include outT(); padding:10px 0; border:none; background-color:$ong1; color: $wht1; @include aMedium(); font-size:16px; letter-spacing: 0.4px; line-height: 20px; box-shadow:none; text-transform: uppercase; cursor: pointer;
                        &:hover {  @include inT(); background-color:$ong1; box-shadow: 4px 8px 12px #00000029; color: $wht1; }
                    }
                }
            }   
        }
        .cngstationlist {
            width: 100%; float: left; height:463px;  
            .cngstationnoresult { 
                display: none;  width: 100%; height: 100%; float: left; padding:2rem; text-align: center; background:$wht1; border-radius:0px;
                section { 
                    width: 100%; height: 100%; float: left; @include fCC();
                    div { 
                        aside { 
                            width: 100%; float: left; text-align: center;
                            img { width: 100%; max-width: 100px; display: inline-block; margin:0 auto; }
                        }
                        p { width: 100%; float: left; margin-top:1.5rem; text-align: center;  color: $blu1; font-size: 18px; line-height: 1.3; @include aBold(); }
                    }                    
                }
            }
            ul { 
                width: 100%; float: left; @include fSS(); flex-wrap: wrap;
                li { 
                    list-style: none; position: relative; width:96%; margin:10px 2%; padding:1rem 1rem 1rem  2rem; background:$wht1; box-shadow: 0px 6px 12px #00000014; border-radius: 0px 0px 8px 8px;
                    h2 { 
                        width: 100%; float: left;  margin-bottom: 0.3rem; 
                        span {
                            position: relative; padding-right: 20px;  width:calc(100% - 120px); float: left; text-align: left; color: $blk1; font-size: 16px; line-height: 1.2; @include aBold();  
                            &:after { content: ''; position:absolute; left: -15px; top: 7px; height: 12px; width: 8px; background: url('../images/frontimage/icon2.png') no-repeat; background-position: left 0px top 0px; }
                        }
                        aside { 
                             width: 120px; float: right; @include fEC();
                            a
                            { 
                                line-height: 1; cursor: pointer; text-transform: capitalize; text-decoration: none;  @include outT(); color:$blu1; font-size: 14px; line-height:1.2; @include Arial(); border-bottom: solid 1px $blu1; cursor: pointer;
                                &:hover { border-bottom-color: $ong1; color: $ong1; @include inT(); }
                            }
                            img { 
                                position: static !important; display: inline-block; margin-left: 0.5rem; width: 18px; height: auto; @include outT();  cursor: pointer;
                                &:hover { filter: grayscale(0); @include inT(); }
                            }
                        }
                    }
                    p { 
                        width: 100%; float: left; text-align: left; color: $blk2; font-size: 14px; line-height: 24px; @include Arial(); 
                        strong { @include aMedium(); }
                     }
                    h4 { 
                        width: 100%; float: left; text-align: left;  color: $blk2; font-size: 14px; line-height: 24px; @include Arial(); 
                        i.fa { padding: 0 5px 0 0; transform: rotate(22deg); }
                        a { 
                            text-decoration: none; color:$blk2;  @include outT();
                            &:hover { color:$ong1; @include inT();}
                        }
                     }
                    dl { 
                        width: 100%; float: left; @include fBS(); 
                        dt { 
                            color:$blu2;  text-align: left;  font-size: 14px; line-height: 24px; @include Arial(); 
                            &:before { content: "\f017"; @include FA(); margin-right: 5px; }
                        }
                        dd { 
                            color:$blk7; text-align: left;  font-size: 14px; line-height: 24px; @include Arial(); 
                            span { 
                                margin-left: 5px; background:$wht7; padding:5px 10px; border-radius:25px; color:$blu1; text-align: left;  font-size: 14px; line-height: 24px; @include aBold(); 
                                i.fa { margin-right:3px; }
                            }
                        }
                    }
                    
                    h5 { 
                        position:absolute; right:1rem; top:1rem; width: 19px; height: 20px; float: right;  line-height: 1; cursor: pointer; text-decoration: none; background: url('../images/frontimage/share-orange.png') no-repeat center center; @include outT();  filter: grayscale(1);
                        span { display: none; }
                        i.fa { display: none;}
                        &:hover {  filter: grayscale(0); @include inT(); }
                    }
                }
            }
        }   
    }

    .cngstationscrollContainer, .cngstationscroll { float: left; margin: 0; padding:0; width: 100%; height: 100%; }

    .cngstationmap {
        z-index:1; position: relative; width: 70%; float: left; background-color:$blu1; height:845px;  
        .cngstationmapmyindia { width: 100%; height: 100%; margin: 0; padding: 0; border: 0;  }
        .mapinfo { 
            padding:3px; 
            h5 { font-size: 14px; color:$blk1; @include aBold();  }
            h6 { font-size: 13px; color:$blk2; @include Arial();  }
        }
    }



    
}



@media only screen and (max-width:1700px) 
{
    .cngstationWrap { 
        .wrapper { padding-left: 2%; }
    }
}


@media only screen and (max-width:1565px) 
{
    
    .cngstationWrap { 
        .cngstation { 
            width: 39%;  
            .cngstationlist {  height:463px; }
        }
        .cngstationmap { width: 61%;  height:845px;  }
    }



}



 

@media only screen and (max-width:1300px) 
{
    .cngstationWrap { 
        .cngstation { 
            width: 43%;  
            .cngstationlist {  height:463px; }
        }
        .cngstationmap { width: 57%;  height:845px;  }
    }
}


@media only screen and (max-width:1255px) 
{
    .cngstationWrap { 
        .cngstation { 
            width: 54%;  
            .cngstationlist {  height:463px; }
        }
        .cngstationmap { width: 46%;  height:845px;  }
    }
}



@media only screen and (max-width:1023px) 
{
    .cngstationWrap { 
        .wrapper { padding:0 2%; flex-wrap: wrap; }
        .cngstation { 
            width: 100%; padding:2rem 0 0 0;
            .cngstationlist {  
                height:480px; overflow: hidden; overflow-y: scroll;
                .cngstationnoresult { 
                    section { 
                        div { 
                            aside { 
                                img { max-width:70px;  }
                            }
                            p { margin-top: 1rem; font-size: 16px; }
                        }
                    }
                }
            }
        }
        .cngstationmap { width: 96%; margin:2rem 2% 3rem 2%; height:300px;  }
    }

    .cngstationscrollContainer, .cngstationscroll { height: auto !important; }

}


@media only screen and (max-width:767px) 
{
    .cngstationWrap { 
        .cngstation { 
            .cngstationlist {  height:460px; }
        }
    }
}



@media only screen and (max-width:599px) 
{
    .cngstationWrap { 
        .cngstation { 
            .cngstationheading { 
                width: 96%; margin: 0 2% 1rem 2%;  padding:0 0 12px 0; position: relative; overflow: hidden;
                h2 { font-size:21px; }
                aside {
                    position: absolute; top: 0; left: 100%; @include fSC(); width: 100%;  padding: 0 0 1px 0; background: $wht1; 
                    span { 
                        display:block; font-size: 22px;color:$blu1; cursor: pointer; @include outT();
                        &:hover { color: $blk1; @include inT(); }
                    }
                    input[type='text'] {  padding: 0.5rem 2rem 0.5rem 1rem;} 
                }
                p { 
                    display: block; font-size: 22px;color:$blu1; cursor: pointer; @include outT();
                   &:hover { color: $blk1; @include inT(); }
               }
            }
            .cngstationfilter { 
                width: 96%; padding:0 1%; margin:0 2% 1rem 2%;
                h2 {  font-size:16px; line-height:28px; }
                ul { 
                    li {  
                        select { font-size: 16px; }
                        input[type=text] { font-size: 16px; }
                    }
                }
            }
            .cngstationlist {
                height: 450px;  
                ul {
                     li {
                        width: 96%;margin: 10px 2%; 
                        h2 { 
                            span {
                                font-size: 16px;  padding-right: 0;
                                &:after { top: 5px;  }
                            }
                        }
                        p { font-size: 14px; line-height: 22px; }
                        h4 { font-size: 14px; line-height: 22px;  }
                        dl { 
                            justify-content: flex-start; flex-wrap: wrap;
                            dt { width: 100%; font-size: 12px; line-height: 26px;  }
                            dd { 
                                width: 100%; margin-top: 0.3rem; font-size: 12px; line-height: 26px; 
                                span { font-size: 12px; line-height: 26px;  }
                            }
                        }
                        h5 { top: auto; bottom: 1rem; font-size: 18px; }
                    }
                }
            }  
        }

    }

}


@media only screen and (max-width:479px) 
{
    .cngstationWrap { 
        .cngstation { 
            .cngstationlist {  height:600px; }
        }
        .cngstationmap { height:200px;  }
    }
}