.servicebutton { 
    display: inline-block; width:auto; text-align: center; text-decoration: none; @include outT(); padding:12px 25px; border:none; background-color:$ong1; color: $wht1; @include aMedium(); font-size:16px; line-height:1; letter-spacing:0.4px; text-transform: uppercase;
    &:hover {  @include inT(); background-color:$ong2;  color: $wht1; box-shadow: 4px 8px 12px #00000029; }
}


/* ######################## servicewrap ######################## */
.servicewrap { 
    width: 100%; float: left; padding: 2rem 0 5rem; background-color:$wht1;
        
    .serviceAbout {
        width: 100%; float: left; padding:0; @include fBS(); flex-wrap: wrap;
        .serviceAboutLeft {
            width: 45%; float: left;
            p { width: 100%; float: left; text-align: left; color: $blk2; @include Arial(); font-size: 16px; line-height: 26px; }
            h5{
                width: 100%; float: left;text-align: left; margin-top:1.5rem;
                span.servicebutton {
                    background:$ong1; color: $wht1; cursor: pointer;
                   &:hover { background:$ong2; box-shadow: 4px 8px 12px #00000029;  }
               }
               a.servicebutton {
                    background:$ong1; color: $wht1;
                   &:hover { background:$ong2; box-shadow: 4px 8px 12px #00000029;  }
               }
            }
        }
        .serviceAboutRight {
            width: 45%; float: right;
            ul 
            {
                width: 100%; float: left; @include fBS(); flex-wrap: wrap;
                li {
                    list-style: none; width: 33%; margin: 0 0 4rem 0;
                    aside { 
                        width: 100%; float: left; text-align: center;
                        img { max-width: 100%;}
                    }
                    p { width: 100%; margin:1rem 0 0 0; float: left; text-align: center; color: $blk2; @include Arial(); font-size: 18px; line-height: 24px; }
                }
            }
        }
        .serviceAboutBottom{
            display: none; width: 100%; float: left;text-align: left; margin-top:1.5rem;
            span.servicebutton {
                background:$ong1; color: $wht1;
               &:hover { background:$ong2; box-shadow: 4px 8px 12px #00000029;  }
           }
            a.servicebutton {
                background:$ong1; color: $wht1;
               &:hover { background:$ong2; box-shadow: 4px 8px 12px #00000029;  }
           }
        }
    }



    
    .serviceHighlight { 
        width: 100%; float: left; padding:5rem 0 0 0;
            ul {
                width: 100%; float: left; @include fBS(); align-items: stretch;
                li {
                    list-style: none; width: 15.5%; height: inherit; box-shadow: 0px 6px 12px #00000014; background-color: $wht1; overflow: hidden;
                    a { 
                        position: relative; text-decoration: none; padding: 1rem; width: 100%; height: 100%; float: left; border-bottom: solid 2px $ong1; overflow: hidden; border-radius: 0px 0px 3px 3px; cursor: pointer; @include outT(); background-color: $wht1;  cursor: pointer;
                        aside { 
                            z-index:2; position: relative; width: 100%; float: left;  text-align: center; 
                            img { max-width: 100%; filter:none;  @include outT();  }
                        }
                        p { z-index:2; position: relative; width: 100%; float: left; margin-top: 0.4rem; text-align: center; white-space: nowrap; color:$blu1; font-size:16px; line-height: 36px; white-space:normal; @include aBold(); @include outT(); }
                        &:before { z-index:1; content: '';position:absolute; left: 0; top: 0; width: 1px; height: 100%; background: transparent; @include outT();  }
                        &:hover { 
                             border-color: $blu1; border-radius: 0px 0px 3px 3px;  @include inT(); 
                            img { filter: brightness(0) invert(1);  @include inT();  }
                            p { color:$wht1; @include inT(); }
                            &:before {  width: 100%; height: 100%; background: $blu1;  @include inT(); }
                        }
                    }
                }
            }
    }








    .servicePricebyarea { 
        width: 100%; float: left;  position: relative;
        .servicePricebyareaRight {
            width:60%; float: right;  
            img { width: 100%;}
        }
        .servicePricebyareaLeft { 
            width: 50%;  float: left;  background:$wht1; padding: 3rem 2rem; position: absolute; top: 50%; left: 0; transform: translateY(-50%);
            box-shadow: 0px 6px 12px #00000014;
            h2 { 
                width: 100%; float: left; text-align: left; display: block;
                span {display: inline-block; text-transform: uppercase; color:$blk1; font-size:26px; letter-spacing:1.68px; line-height: 35px; @include aBlack();  }
                img { display: inline-block; margin-bottom:-2px; max-width: 100%;}
            }
            p {  width: 100%; margin:0.5rem 0 2rem 0; float: left; text-align: left; color: $blk2; @include Arial(); font-size:16px; line-height: 26px;  }
            h6 { 
                width: 100%; margin:0; float: left; text-align: left;  
                a { width:auto; float:left; padding:12px 25px; border:none; outline: 0; background: $ong1; text-decoration: none; text-transform: uppercase; text-align: center; color:$wht1; @include aMedium(); font-size:16px; line-height: 18px; cursor: pointer; @include outT();
                    &:hover { background: $ong2; box-shadow: 4px 8px 12px #00000029; color:$wht1; @include inT(); }
                }
            }
            h3 { width:100%; margin:0 0 0.3rem 0; float: left; text-align: left; color:$blk7; @include Arial(); font-size:12px; line-height: 1;  }
                .servicepinchange{ 
                    width:100%; float: left; @include fSC(); flex-wrap: wrap;
                        .service_select_box {  
                            width:220px; float: left; padding:0.4rem 1rem 0.4rem 0;  margin:0 1rem 0 0;  background:transparent; outline: none; border:none; border-bottom: solid 1px $blk8; text-align: left; font-size: 16px;  line-height: 24px; color: $blk7;  @include Arial();  border-radius: 0; text-indent:1px; text-overflow: ''; -webkit-appearance:none; appearance:none; background:transparent url('../images/frontimage/dd_black.png') no-repeat; background-position:right 5px center; 
                            option { 
                                color: $blk1;      
                                &:disabled { user-select: none; pointer-events: none; }
                            }
                        }
                        .service_refresh_btn { 
                           text-decoration: none; font-size: 22px; color: $blk1;
                            i.fa.fa-refresh { line-height: 1; font-weight: 400; }
                            &:hover { @include inT();  color: $ong1;}
                        }
                        .service_submit_btn { 
                            display: inline-block; width:auto; text-align: center;  margin:0 0 0 1rem;   text-decoration: none; @include outT(); padding:10px 25px; border:none; background-color:$ong1; color: $wht1; @include aMedium(); font-size:16px; letter-spacing: 0.4px; line-height: 20px; box-shadow:none; text-transform: uppercase; cursor: pointer;
                            &:hover {  @include inT(); background-color:$ong1; box-shadow: 4px 8px 12px #00000029; color: $wht1; }
                        }
                }
            h4.service_error_msg { display: none; width: 100%; float:left; margin-top:0.5rem; text-align: left; color:$ong1; @include Arial(); font-size:11px; line-height: 18px; }
            h5 { 
                width: 100%; margin:1rem 0 0 0; float: left; text-align: left; color: $blk1; @include aMedium(); font-size:74px; line-height: 1.2; 
                i.fa { margin-right: 5px; line-height: 1; font-size: 90%; font-weight: 300; }
            }
            
        }
    }






    .serviceFuelsavings {
        width: 100%; float: left; padding:5rem 0; position: relative;
        .fuelsavings_web { display: block; width: 100%; }
        .fuelsavings_ipad { display: none; width: 100%; }
        .fuelsavings_mobile { display: none; width: 100%; }
        section {
            position: absolute; left: 3%; top: 50%; transform: translateY(-50%); width: 80%; float:left;
            h2 {  width: 100%; float: left; text-align: left;  color:$wht1; font-size:26px; letter-spacing:1.68px; line-height: 35px; @include aBlack(); text-transform: uppercase;  }
            p {  width: 100%; margin:0.7rem 0 1.5rem 0; float: left; text-align: left; color: $wht1; @include aBold(); font-size:16px; line-height: 26px; }
            aside { 
                width: 100%; float: left; text-align: left; 
                a.servicebutton {
                    text-decoration: none;  text-transform: uppercase;
                    &:hover { text-decoration: none;   }
                }
            }
        }
    }

 

    .servicePipelineAvailable { 
        width: 100%; float: left; position: relative; padding: 0 0 6rem 0;
        .serviceAvailableRight {
           position: absolute; left: 0; top: 0; display: block; width:60%; float: left;  
            img { width: 100%;}
        }
        .serviceAvailableLeft { 
            width: 50%; float: right; min-height: 400px;  background:$wht1; padding:1.5rem 2rem;  position: relative; top:2rem; right: 0; 
            box-shadow: 0px 6px 12px #00000014;
            h2 { 
                width: 100%; float: left; text-align: left;  
                span { display: inline; text-transform: uppercase; color:$blk1; font-size:26px; letter-spacing:1.68px; line-height: 35px; @include aBlack();  }
                img {  display: inline; margin-bottom:-2px; max-width: 100%;}
            }
            h3 { width: 100%; margin:0.5rem 0 1.5rem 0; float: left; text-align: left; color: $blk2; @include Arial(); font-size:16px; line-height: 26px; }
            h4 { width: 100%; margin:0 0 0.7rem 0; float: left; text-align: left; color: $blk2; @include aBold(); font-size:16px; line-height: 26px; }
            section { 
                width:100%; float: left; @include fSS();
                aside { 
                    width: 42%; float: left; margin: 0 2% 0 0;
                    .pincodeinput {  
                        width: 100%; float: left; padding:5px 0; background:transparent; outline: none; border:none; border-bottom: solid 1px $blk2; text-align: left; font-size: 16px; line-height: 24px; color: $blk7; @include aMedium();
                        &::placeholder { color: $blk7;  opacity: 1; }      
                        &:-ms-input-placeholder { color: $blk7; opacity: 1; }
                        &::-ms-input-placeholder { color: $blk7; opacity: 1;  }
                    }
                    .districtselect {  
                        width: 100%; float: left; padding:5px 0; background:transparent; outline: none; border:none; border-bottom: solid 1px $blk2; text-align: left; font-size: 16px;  line-height: 24px; color:$blk7;  @include aMedium(); border-radius: 0; text-indent:1px; text-overflow: ''; -webkit-appearance:none; appearance:none; background:transparent url('../images/frontimage/dd_black.png') no-repeat; background-position:right 5px center; 
                        option { 
                            color: $blk7;      
                            &:disabled { user-select: none; pointer-events: none; }
                        }
                    }
                    .submitBtn { 
                        display: inline-block; width:auto; text-align: center; text-decoration: none; @include outT(); padding:5px 25px; text-transform: uppercase; border:none; background-color:$ong1; color: $wht1; @include aMedium(); font-size:16px; letter-spacing: 0.4px; line-height: 24px; text-transform: uppercase; cursor: pointer;
                        &:hover {  @include inT(); background-color:$ong2;  box-shadow: 4px 8px 12px #00000029; color: $wht1; }
                    }
                    .errormsg { display:none; width: 100%; float:left; margin-top:3px; text-align: left; color:$ong1; @include Arial(); font-size:11px; line-height: 18px; }
                }
            }
            h5 { 
                width: 100%; float: left; text-align: left; margin-top:1.5rem;
                .gosubmit {
                    display: inline-block; width:auto; text-align: center; text-decoration: none; @include outT(); padding:10px 25px; text-transform: uppercase; border:none; background-color:$ong1; color: $wht1; @include aMedium(); font-size:16px; letter-spacing: 0.4px; line-height: 20px; text-transform: uppercase; cursor: pointer;
                        &:hover {  @include inT(); background-color:$ong2;  box-shadow: 4px 8px 12px #00000029; color: $wht1; }
                }
            }
            h6 {
                width: 100%; float: left; text-align: left;  margin-top:2rem;
                a {
                    text-decoration: none; @include outT(); font-size:16px; line-height: 26px;  color:$blu1;
                    span {  border-bottom: solid 1px $wht1; padding-bottom: 2px; text-align: left; @include aBold(); @include outT();  }
                    i.fa { font-weight: 400; margin-left: 5px;  @include outT(); }
                    &:hover {
                        color:$blk1; @include inT();
                        span {  border-bottom-color:$blk1;  @include inT(); }
                        i.fa { margin-left: 10px; @include inT();}
                    }
                }
            } 
            .sa_no_result { 
                display: none;  width: 100%; height:auto; float: left; padding:1rem; text-align: center; background:$wht1; border-radius:0px;
                aside { 
                    width: 100%; float: left; text-align: center;
                    img { width: 100%; max-width:60px; display: inline-block; margin:0 auto; }
                }
                p { width: 100%; float: left; margin-top:1rem; text-align: center;  color: $blu1; font-size: 14px; line-height: 1.2; @include aBold(); }
            }
            .sa_resultlist { 
                width: 100%; float: left; margin-top: 1.5rem;
                li { 
                    list-style: none; width:100%; float: left; margin:7px 1rem; padding:0; background:$wht1; 
                    .sa_heading { 
                        position: relative; width: 100%; float: left;  margin-bottom: 0.2rem;  text-align: left; color: $blk1; font-size: 14px; line-height: 22px; @include aBold();  
                        &:after { content: ''; position:absolute; left: -12px; top: 7px; height:10px; width:7px; background: url('../images/frontimage/icon2.png') no-repeat; background-position: left 0px top 0px; background-size: 100% 100%; }
                    }
                    .sa_text { width: 100%; float: left; text-align: left;  color: $blk2; font-size: 14px; line-height: 22px; @include Arial();  }
                    .sa_status { 
                        width: 100%; float: left; text-align: left;  font-size: 14px; line-height: 22px; @include Arial(); 
                        &::before { content: "\f017"; @include FA(); padding-right: 5px; }
                        &.sa_comingsoon {  color:#002293; }
                        &.sa_unavailable { color:#002293; }
                        &.sa_immediateavailability { color:#047704; }
                        &.sa_openforregistration { color:#002293; }
                    }
                    .sa_btn { 
                        width: 100%; float: left; margin-top: 0.2rem; text-align: left; font-size: 14px; line-height: 22px; color:$blu3; @include aBold();  
                        a { 
                            text-decoration: none; color:$blu3;  @include outT();
                            b { border-bottom: solid 1px transparent; padding-bottom: 1px; @include outT(); }
                            i.fa { padding: 0 5px; @include outT(); }
                            &:hover { 
                                color:$blk1; @include inT();
                                b { border-bottom-color: $blu3; @include inT(); }
                                i.fa { padding: 0  0 0 10px; @include inT(); }
                             }
                        }
                    }
                }
            }

        }
    }


}









@media only screen and (max-width:1565px) 
{


    /* ######################## servicewrap ######################## */
    .servicewrap {  
        .serviceAbout {
            .serviceAboutLeft { width: 48%; }
            .serviceAboutRight {
                width: 48%;
                ul 
                {
                    li {
                        margin: 0 0 3rem 0;
                        p { font-size: 18px;  }
                    }
                }
            }
        }



        
        .serviceHighlight { 
                ul {
                    li {
                        a { 
                            padding:0.7rem; 
                            p { margin-top: 0.5rem; font-size:14px; line-height:18px;  }
                        }
                    }
                }
        }




 
    


        .servicePricebyarea { 
            .servicePricebyareaLeft { 
                padding:2rem 1.5rem;  
                h2 { 
                    span { font-size:24px; letter-spacing:0.92px; line-height: 30px;  }
                }
                p {  margin: 0.5rem 0 1rem 0; font-size: 16px; line-height: 24px; }

                h5 { font-size:66px;  }
            }
        }






        .serviceFuelsavings {
            section {
                h2 { font-size:24px; letter-spacing:0.92px; line-height: 30px;   }
                p { margin:0.5rem 0 1rem 0; font-size:16px; line-height: 24px; }
            }
        }

    

        .servicePipelineAvailable { 
            .serviceAvailableLeft { 
                padding: 2rem 1.5rem; 
                h2 { 
                    span {  font-size:24px; letter-spacing:0.92px; line-height: 30px;   }
                }
                h3 {  margin:0.5rem 0 1rem 0; font-size:16px; line-height: 24px; }
                h4 { margin:0 0 0.5rem 0; font-size:16px; line-height: 24px; }
                section { 
                    width:100%;  
                    aside { 
                        width: 48%;
                        .pincodeinput {  font-size: 16px; line-height: 22px; }
                        .districtselect {  font-size: 16px;  line-height: 22px;  }
                    }
                }
                h6 {
                    margin-top:1rem;
                    a { font-size:16px; line-height: 24px;  }
                } 
            }
        }



    }


}





@media only screen and (max-width:1300px) 
{

}





@media only screen and (max-width:1255px) 
{
    /* ######################## servicewrap ######################## */
    .servicewrap { 
        padding: 2rem 0 3rem 0;

        .serviceHighlight {
            padding: 3rem 0 0 0;
        }

 

        


        .servicePricebyarea { 
            .servicePricebyareaLeft { 
                padding:1rem;  width: 65%;
            }
        }






        .serviceFuelsavings {
            padding:3rem 0;
            section {
                aside { 
                    a.servicebutton {  padding: 8px 15px; font-size: 14px; line-height: 18px; letter-spacing: .2px;}
                }
            }
        }

    

        
        .servicePipelineAvailable { 
            padding: 0;
        
            .serviceAvailableRight { 
                width: 100%; display: block; position: relative;
           }
            .serviceAvailableLeft { 
                margin-top: -100px; padding: 1.5rem;transform: none; width: 86%; float: left; min-height: auto; position: relative;top: auto; bottom: 0;left: 7%; 
                h2 {
                    display: block;
                    span { display: inline; } 
                    img { display: inline; margin: 0 0 -3px 0px; }
                }
            }
        }


   }







}





@media only screen and (max-width:1023px) 
{
    /* ######################## servicewrap ######################## */
    .servicewrap { 

        .serviceAbout {
              flex-wrap: wrap;
            .serviceAboutLeft {
                width: 100%;
                h5{ display: none;}
            }
            .serviceAboutRight {
                width: 100%; margin-top: 1rem;
                ul {
                    li { 
                        margin: 1rem 0; 
                        aside {
                            img {
                                max-width: 55px;
                            }
                        }
                        p {
                            font-size: 16px; margin: 0.5rem 0 0 0;
                        }
                    }

                }
            }
            .serviceAboutBottom { display: block;  }
        }



        .serviceHighlight 
        {
            display: none;
            ul {
                flex-wrap: wrap;
                li { width: 31%; margin: 7px 0;}
            }
        }
        

 


        .servicePricebyarea { 
            .servicePricebyareaRight { 
                 width: 100%;
            }
            .servicePricebyareaLeft { 
                margin-top: -100px; padding: 1.5rem;transform: none; width: 86%; float: left;position: relative;top: auto; bottom: 0;left: 7%; 
                h2 {
                    display: block;
                    span { display: inline; } 
                    img { display: inline; margin: 0 0 -3px 0px; }
                }
            }
        }






        .serviceFuelsavings {
            .fuelsavings_web { display: none; }
            .fuelsavings_ipad { display: block;   }
            .fuelsavings_mobile { display: none;  }
            section {
                width: 90%;
                aside { 
                    a.servicebutton {  padding: 8px 15px; font-size: 14px; line-height: 18px; letter-spacing: .2px;}
                }
            }
        }





    }

}






@media only screen and (max-width:767px) 
{

    /* ######################## servicewrap ######################## */
    .servicewrap { 

        .serviceHighlight {
            ul { 
                li {
                    a { 
                        padding: 0.5rem; 
                        aside { 
                            img {max-width: 30px; }
                        }
                        p {margin-top: 0.2rem; }
                    }
                }
            }
        }


        .servicePricebyarea { 
            .servicePricebyareaLeft {  width: 92%; left:4%; }
        }
 

        .serviceFuelsavings {
            section {
                h2 {font-size: 21px; line-height: 24px;}
                p {margin: 0.1rem 0 0.7rem 0;font-size: 14px;line-height: 20px;}
                aside { 
                    a.servicebutton {  padding: 8px 15px; font-size: 14px; line-height: 18px; letter-spacing: .2px;}
                }
            }
        }

        .servicePipelineAvailable { 
            .serviceAvailableLeft {  width: 92%; left:4%; }
        }



    }

 
}




@media only screen and (max-width:599px) 
{

}



@media only screen and (max-width:479px) 
{

    /* ######################## servicewrap ######################## */
    .servicewrap { 

        .serviceAbout {
            .serviceAboutLeft {
                p { font-size: 16px; line-height: 26px; color:$blk2; }
            }
            .serviceAboutRight {
                ul {
                    width:98%; margin:0 1%;
                    li {
                        width: 100%; margin: 0 0 1rem 0; @include fSC();
                        aside { 
                            width: auto; text-align: left;
                            img { max-width:38px; }
                        }
                        p { width:auto; margin:0 0 0 1rem; text-align: left; font-size: 16px; line-height: 45px; color:$blk2;  }
                    }
                }
            }
            .serviceAboutBottom{
               margin-top:0.5rem;
                span.servicebutton {color: $wht1; font-size: 14px; letter-spacing: 0.35px; line-height: 17px; cursor: pointer; }
                a.servicebutton {color: $wht1; font-size: 14px; letter-spacing: 0.35px; line-height: 17px;}
            }
        }



        
        .serviceHighlight { 
                ul {
                    li {
                        width: 48%;
                        a { 
                            padding:0.7rem; border-bottom-width:1px; @include fSC();
                            aside { 
                                width: auto;  text-align:left;
                                img { max-width:28px;  }
                            }
                            p { width:auto; margin:0 0 0 0.6rem; text-align:left; font-size:14px; line-height:18px; white-space: break-spaces; }
                        }
                    }
                }
        }




 



        .servicePricebyarea { 
            .servicePricebyareaLeft { 
                width: 84%;  padding: 1.5rem; margin-top: -50px; left: 8%;
                h2 { 
                    span { font-size:22px; letter-spacing:1.32px; line-height: 36px; }
                }
                p {  margin:0.5rem 0;  font-size:16px; line-height: 26px;  }
                h6 {  
                    a { font-size:14px; line-height: 22px; padding: 8px 20px; }
                }
 
                    h3 { width:100%; margin:0; font-size:11px; line-height: 28px;  }
                    h4 { width:auto; padding:0 1.5rem; margin:0 1rem 0 0; font-size:12px; line-height: 28px; }
                    .servicepinchange{ 
                        margin:0; justify-content: center;
                        .service_select_box {  width:100%; margin:0 0 0.5rem 0;    }
                    }
                
                h5 { font-size:40px; }
            }
        }


 

        .serviceFuelsavings {
            .fuelsavings_web { display: none; }
            .fuelsavings_ipad { display: none;   }
            .fuelsavings_mobile { display: block;  }
            section {
                left:5%; width:90%;  
                h2 { font-size:22px; letter-spacing:1.32px; line-height: 28px;}
                p { margin:0.7rem 0 1rem 0; font-size:16px; line-height: 26px; }
                aside { 
                    a.servicebutton {
                        font-size: 12px; letter-spacing: 0.3px; line-height: 18px;
                    }
                }
            }
        }

    

        .servicePipelineAvailable { 
            .serviceAvailableLeft { 
                width: 84%;  padding: 1.5rem; margin-top: -50px; left: 8%;
                h2 { 
                    span { font-size:22px; letter-spacing:1.32px; line-height: 36px; }
                }
                h3 {  margin:0.5rem 0;  font-size:16px; line-height: 26px;  }
                h4 {  margin:0 0 0.2rem 0; font-size:16px; line-height: 26px; }
                section { 
                    flex-wrap: wrap;
                    aside { 
                        width: 100%; margin-bottom: 1rem;
                        .pincodeinput { padding: 6px 5px; border-bottom-color:$blk6; color: $blk6; font-size: 16px; line-height: 24px; }
                        .districtselect { padding: 6px 1px;  border-bottom-color:$blk6; color: $blk6; font-size: 16px; line-height: 24px;  }
                    }
                }
                h5 { 
                    margin-top:0.5rem;
                    .gosubmit { font-size:14px; letter-spacing:0.33px; line-height: 18px; }
                }
                h6 {
                    margin-top:2rem;
                    a {
                        font-size:16px; line-height: 20px; 
                        span { border-bottom:none; padding-bottom: 0;  }
                    }
                } 
            }
        }


    }
    
 

}



