/* ################## newconnectionWrap ################## */
.newconnectionWrap { 
    width: 100%; float: left; padding:2rem 0 5rem 0; background: $wht1;
}

    /* connection_tabs_head */
    .connection_tabs_head{
        width: 100%; float: left; margin:5rem 0 2rem 0; text-align: center;
        h2 {
            width: 100%; float: left; text-align: left; 
            span {  display: inline;  color:$blk1; font-size:26px; letter-spacing:1.68px; line-height: 35px; @include aBlack(); text-transform: uppercase; }
            img { display: inline; max-width: 100%; margin:0 0 -3px 0; }
        }
        p { 
            width: 100%; float: left; margin: 0.7rem 0 2rem 0; text-align: left; color: $blk6; font-size:16px; line-height: 26px; @include Arial();  
            span { display: inline-block;}
            a { 
                display: inline-block; text-decoration: none; color: $blk6; @include outT(); 
                &:hover { color: $ong1; @include inT();  }
            }
        }
        ul {
            width: auto; display: inline-block; margin: 0 auto; border-bottom: solid 1px $blk9; 
            &.disabled { user-select: none; pointer-events: none; }
            li {
                list-style: none; display: inline-block; position: relative;  cursor: pointer; padding: 0 2rem 5px 2rem;  color: $blk9; font-size: 20px; line-height: 45px; @include Arial(); @include outT(); 
                &:after { content: ''; position: absolute; bottom:-1px; left:0; width: 100%; height:4px; background:none; line-height: 0; font-size: 1px; }
                &.active {
                     color:$blu1;  @include aBold(); @include inT(); user-select: none; pointer-events: none;
                    &:after { background: $blu1;  }
                }
            }
        }
    }

    

    /* connection_tabs_container */ 
    .connection_tabs_container { 
        width: 100%; float: left;  position: relative;
        .conTabLoader { 
            display: none; z-index: 2; position:absolute; left: 0; top:0;  width: 100%;  height: 100%; float: left; margin: 0; padding: 0; background-color:$wht1; text-align: center; 
            i.fa.fa-spinner {  font-weight: 900; color:$ong1; font-size:72px; }
        }
        .conTabHead { display: none; }
        .conTabBody {  
            display: none; width: 100%; float: left; 
            .connectioncontainer { 
                width: 100%; float: left; position: relative;  @include fBC(); padding: 1rem 0;
                .connectioncontainerleft { 
                    width:55%; float: left; padding:3rem 2rem; background:$blu5;
                    .connectioncontainerWeb { display: block; width:100%; float: left; }
                    .connectioncontainerMob { display: none;  }
                    ul { 
                       margin:1rem 0 0 0;  width:100%; float: left; @include fBS(); justify-content: space-evenly;
                        li { 
                            list-style: none; width: 15%;  
                            p { width:100%; float: left; text-align: center; color: $blk1; font-size:14px; line-height:1.4; @include aBold(); }  
                        } 
                    }
                }
                .connectioncontainerright { 
                    width:45%; float: left; padding:2rem; background: $wht1; box-shadow: 0px 6px 12px #00000014;
                    h2 { 
                        width: 100%; float: left; margin: 0 0 1.5rem 0; text-align: left; color: $blk1; font-size:20px; line-height:26px; @include aBold();  
                    }
                    .connectioncontainerscroll { 
                        width: 100%; float: left;  
                        section { 
                            width: 100%; float: left; @include fBS();
                            ul{
                                width: 33%; float: left;
                                &.connection_proof_ui_33 { width: 33%; }
                                &.connection_proof_ui_50 { width: 50%; }
                                li { margin: 0.5rem 0; padding-left: 20px; float: left; width: 100%; position: relative;
                                    list-style: none; text-align: left; color: $blk2; font-size:16px; line-height:1; @include Arial();  
                                    &:after { content:''; position: absolute; top:3px; left: 0; background:url('../images/frontimage/icon2.png') no-repeat center center; background-size: 100% 100%; width: 8px; height: 12px; float: left;  }
                                    &:first-child { 
                                        margin:0;padding: 0;
                                        &:after { display: none; }
                                    }
                                    h3{ 
                                        width: 100%; float: left; margin: 0 0 1rem 0; text-align: left; color: $blu1; font-size:16px; @include aBold(); 
                                        span { color: $blk2; font-size:14px; @include Arial(); }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    


    /* connectioninfo */ 
    .connectioninfo { 
        width: 100%; float: left; margin-bottom:2rem;  
        h2 {
            width: 100%; float: left; text-align: left; 
            span {  display: inline;  color:$blk1; font-size:24px; letter-spacing:1.68px; line-height: 35px; @include aBlack(); text-transform: uppercase; }
            img { display: inline; max-width: 100%; margin:0 0 -3px 0; }
        }
    }


    /* connection_form */ 
    .connection_form { 
        width: 100%; float: left;  @include fSS(); align-items: stretch; height: inherit;
        .connection_left { 
            width: 75%; float: left; padding: 3rem; background-color: $wht1; box-shadow: 0px 6px 12px #00000014; 
            section { 
                width: 100%; float: left; @include fBS(); flex-wrap: wrap; margin:0;
                .connection_field_success { 
                    display: none; width: 100%; float: left; margin:0 0 1rem 0;
                    section {
                        width: 100%; float: left;  @include fSC(); border: solid 2px $green1; padding: 1rem;
                        aside { 
                            width: 40px; height: 40px; float: left; border: solid 5px $green1; border-radius: 50%; background: none; @include fCC();
                            i.fa { font-size: 24px; color:$green1; }
                        }
                        h5 { 
                            margin-left:1rem; width:auto;  text-align: left;
                            b {  @include aBold(); font-size: 18px; color: $blu1; }
                            span { margin-top: 5px; display: block;  @include Arial();  font-size: 16px; color: $blk2; }
                        }
                    }
                }
                .connection_field_failed { 
                    display: none; width: 100%; float: left; margin:0 0 1rem 0;
                    section {
                        width: 100%; float: left;  @include fSC(); border: solid 2px $red1; padding: 1rem;
                        aside { 
                            width: 40px; height: 40px; float: left;  border: solid 5px $red1; border-radius: 50%; background: none; @include fCC();
                            i.fa { font-size: 24px; color:$red1; }
                        }
                        h5 { 
                            margin-left:1rem; width: auto; text-align: left;
                            b {  @include aBold(); font-size: 18px; color: $blu1; }
                            span { margin-top: 5px; display: block;  @include Arial();  font-size: 16px; color: $blk2; }
                        }
                    }
                }
                .connection_field100 { display: none; float: left; width: 100%; }
                .connection_field { 
                    float: left;  margin:0 0 1.7rem 0;
                    &.cf30 { width: 31.3%; margin-top: 1rem;  }
                    &.cf33 { width: 31.3%;  }
                    &.cf50 { width: 48%;  }
                    &.cf67 { width: 65%;  }
                    &.cf100 { width: 100%; margin-bottom: 0; margin-top: 1rem; }
                        p { width: 100%; float: left; clear: both;  margin:0 0 1.5rem 0; text-align:left; color:$blk2; font-size:14px; line-height: 1; @include Arial();  }
                        .connection_errormsg { 
                            display: none; width: 100%; float: left;  margin:0.5rem 0 0 0; text-align:left; color:$ong1; font-size:12px; line-height: 1; @include Arial();
                        }
                        .connection_filename {
                             display: none; width: 100%; float: left;  margin:0.5rem 0; text-align:left;
                             b { border-bottom: solid 1px $blk7; padding-bottom: 2px; color:$blk7; @include Arial();  font-size:14px; line-height: 1;  }
                             i.fa.fa-times { 
                                margin:0 0 0 5px; cursor: pointer; color:$blk1;  font-size:16px; line-height: 1;  @include outT();
                                &:hover { color: $ong1; @include inT(); }
                            }
                        }
                        .connection_input {  
                            width: 100%; float: left; padding:0.5rem 0; background:transparent; outline: none; border:none; border-bottom: solid 1px $blu4; text-align: left; font-size: 16px; line-height: 1; color:$blk3; @include Arial();
                            &::placeholder { color: $blk6; opacity: 1; }      
                            &:-ms-input-placeholder { color: $blk6; opacity: 1; }
                            &::-ms-input-placeholder { color: $blk6; opacity: 1;  }
                        }
                        input[type='file'] { display: none; }
                        .connection_select {  
                            width: 100%; float: left; padding:0.5rem 0; background:transparent; outline: none; border:none; border-bottom: solid 1px $blu4; text-align: left; font-size: 16px;  line-height: 1; color: $blk3;  @include Arial(); border-radius: 0; text-indent:1px; text-overflow: ''; -webkit-appearance:none; appearance:none; background:transparent url('../images/frontimage/dd_contactus.png') no-repeat; background-position:right 5px center; 
                            option { 
                                color: $blk3;      
                                &:disabled { user-select: none; pointer-events: none; }
                            }
                        }
                        .connection_button { 
                            width:auto; float: left; text-align: center; text-decoration: none; @include outT(); padding:12px 25px; border:none; background-color:$ong1; color: $wht1; @include aMedium(); font-size:16px; letter-spacing:0; line-height: 1.2; box-shadow:none; text-transform: uppercase; cursor: pointer;
                            &:hover {  @include inT(); background-color:$ong1; box-shadow: 4px 8px 12px #00000029; color: $wht1; }
                        }
                        h4 {
                             width: 100%; float: left; text-align:left; color:$blu1; font-size:16px; line-height: 1; @include aBold();
                            small { font-size: 70%; font-weight: 300; @include Arial(); }
                        }
                        h5 { width: 100%; float: left; margin:0.5rem 0 0 0; text-align:left; color:$blk7; font-size:12px; line-height: 1; @include Arial();  }
                        ul {
                            width: 100%; float: left; margin:2rem 0 0 0;
                            li { 
                                list-style: none;  
                                &:first-child { width: 55%; float: left;   }
                                &:last-child { width: 40%; float: right;   }
                                input[type='file'] { display: none; }
                                .connection_select {  padding:0.5rem 0; font-size: 16px; }
                                .connection_upload { 
                                    width: auto;  float: left; border: solid 1px $ong1; padding: 0.5rem; text-align:center; color:$ong1; font-size:14px; line-height: 1; cursor: pointer; @include Arial();
                                    i.fa { margin-right: 5px; }
                                    span { text-align:left; }  
                                }
                            }
                        }
                }
            }
        }
        .connection_right { 
            width: 25%; float: left;  
           .connection_web { display: block; width: 100%; height: 100%; float: left; }
           .connection_mob { display: none; width: 100%; float: left;  }
        }
    }
    







/* ################## connectionothers ################## */
.connectionothers { 
    width: 100%; float: left; padding:5rem 0 7rem 0; background: $wht3;
    .connectionslider{
        width: 100%; float: left; @include fBS();
        .items { 
            width: 24.5%; float: left; position: relative;
            img { width: 100%;float: left; }
            a {
                position: absolute; bottom:0px; right:0;   white-space:nowrap; width:auto; text-align: center; text-decoration: none; @include outT(); padding:10px 20px; border:none; background-color:$ong1; color: $wht1; @include aMedium(); font-size:16px; line-height:1; letter-spacing:0; text-transform: uppercase;
                &:hover { background:$ong2; @include inT(); color: $wht1; box-shadow: 4px 8px 12px #00000029;  }
            }
        }
    }
}





@media only screen and (max-width:1565px) 
{

    /* connection_tabs_container */ 
    .connection_tabs_container { 
        .conTabBody {  
            .connectioncontainer { 
                .connectioncontainerleft { 
                    width:50%; padding:2rem 1rem; 
                }
                .connectioncontainerright { 
                    width:50%; padding:1.5rem; 
                    h2 { margin: 0 0 1rem 0; font-size:20px; line-height:30px; }
                    .connectioncontainerscroll { 
                        section { 
                            ul{
                                li { margin: 0.4rem 0; font-size:16px;
                                    h3{ 
                                        margin: 0 0 1rem 0; font-size:16px;  
                                        span { font-size:12px; }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* connection_form */ 
    .connection_form { 
        .connection_left { 
          padding:1.5rem; 
        }
    }
            
}



 
@media only screen and (max-width:1300px) 
{



    /* connection_form */ 
    .connection_form { 
        .connection_left { 
          width: 70%; padding: 1rem; 
            section { 
                .connection_field { 
                    margin:0 0 1.5rem 0;
                        p { margin:0 0 1rem 0; font-size:12px; }
                        .connection_input { padding:0.4rem 0;  font-size: 16px;  }
                        .connection_select { padding:0.4rem 0; font-size: 16px; }
                        .connection_button {  padding:10px 20px; font-size:14px; }
                        h4 { font-size:16px; }
                        h5 { font-size:12px; }
                        ul {
                            margin:2rem 0 0 0;
                            li { 
                                .connection_select {  padding:0.4rem 0; font-size: 16px; }
                                .connection_upload {  padding: 0.4rem; font-size:14px;  }
                            }
                        }
                }
            }
        }
        .connection_right { 
            width:30%;
        }
    }
}

@media only screen and (max-width:1255px) 
{
    /* connection_tabs_head */
    .connection_tabs_head{
        margin:4rem 0 2rem 0; 
        h2 {
            span { font-size:22px; letter-spacing:0; line-height: 32px; }
            img { margin:0 0 -2px 0; }
        }
        p { 
             margin: 0.5rem 0 1.5rem 0; font-size:16px; line-height: 26px;  
        }
        ul {
            li {padding: 0 2rem 5px 2rem;  font-size: 22px; line-height: 36px; }
        }
    }


    /* connection_tabs_container */ 
    .connection_tabs_container { 
        .conTabBody {  
            .connectioncontainer { 
                @include fCS(); flex-wrap: wrap; padding: 0;
                .connectioncontainerleft { 
                    width:100%; padding:1rem 1rem 60px 1rem;  text-align: center;
                    .connectioncontainerWeb {display: flow-root; float: none;max-width: 600px;margin: 0 auto;}
                    ul { 
                        float: none;max-width: 600px;margin: 1rem auto;
                    }
                }
                .connectioncontainerright { 
                   width: 90%; margin: -50px 5% 0 5%; padding: 2rem;  
                }
            }
        }
    }


    /* connectioninfo */ 
    .connectioninfo { 
        margin-bottom:1rem;  
        h2 {
            span { font-size:22px; letter-spacing:0; line-height: 32px;   }
            img { margin:0 0 -2px 0; }
        }
    }

    /* connection_form */ 
    .connection_form { 
        .connection_left { 
          width: 100%; padding: 1rem; 
            section { 
                .connection_field { 
                    margin:0 0 1rem 0;
                        ul {
                            margin:1rem 0 0 0;
                        }
                }
            }
        }
        .connection_right { display: none;}
    }


    /* ######################## connectionothers ######################## */
    .connectionothers {
        .connectionslider{
            .items { 
                a {padding:9px 15px; font-size:14px; }
            }
        }
        .connectionslider .slick-list { overflow: hidden;  }
        .connectionslider .slick-track { overflow: hidden; }
        .connectionslider .slick-slide { margin: 0 10px 0 0; }
    } 

}



@media only screen and (max-width:1023px) 
{
    /* connection_tabs_head */
    .connection_tabs_head{
        p { margin: 0.5rem 0 0 0; }
        ul { display: none; }
    }


    /* connection_tabs_container */ 
    .connection_tabs_container { 
        .conTabHead { 
            display: block; position: relative; width: 100%;  float: left; margin:0; list-style: none; cursor: pointer; padding:1rem 3rem 1rem 0.7rem; border-bottom: solid 1.5px $blk7;  color: $blk9; font-size: 18px; line-height:1.5; @include Arial(); @include outT(); cursor: pointer;
                &:after { content: "\f107"; position: absolute; top:50%; right:0.6rem; transform: translateY(-50%); @include FA(); color: $blk9;  font-size: 28px; @include outT(); }
                &.active {
                    border-bottom:none;  color:$blu1; font-size: 20px;  @include aBold(); @include inT();
                    &:after { content: "\f106"; color:$blu1; @include inT(); }
                }
                &.disabled { user-select: none; pointer-events: none; }
         }
         .conTabBody {  
            .connectioncontainer { 
                .connectioncontainerright { 
                     margin-bottom: 1rem;     padding: 1.5rem;
                  .connectioncontainerscroll { 
                     overflow-y: hidden; overflow-x: scroll; 
                        section { 
                            width: 150%;  padding-bottom:0.5rem; 
                            ul {
                                li {
                                    margin: 0.6rem 0;
                                    h3 {margin: 0 0 1rem 0 }
                                }
                            }
                        }
                    } 
                }
            }
        }
    }


    /* ######################## connectionothers ######################## */
    .connectionothers {
        padding:3rem 0 4rem 0;
    } 
    
    /* connection_form */ 
    .connection_form { 
        .connection_left { 
          padding: 1rem; 
            section { 
                .connection_field { 
                    margin:0 0 1rem 0;
                    &.cf33 { width: 48%; }
                    &.cf30 { width: 100%; }
                    &.cf67 { width: 48%;  }
                        ul {
                            margin:1rem 0 0 0;
                        }
                }
            }
        }
    }

}


@media only screen and (max-width:767px) 
{

    


}

@media only screen and (max-width:599px) 
{

    /* connection_tabs_container */ 
    .connection_tabs_container { 
         .conTabBody {  
            .connectioncontainer { 
                .connectioncontainerleft { 
                    ul { 
                        max-width: 100%;
                        li { 
                            p { font-size: 12px; }
                        }
                    }
                }
                .connectioncontainerright { 
                    padding: 1rem;
                  .connectioncontainerscroll { 
                     section { width: 200%; }
                    } 
                }
            }
        }
    }



    /* ######################## connectionothers ######################## */
    .connectionothers {
        .connectionslider .slick-slide { margin: 0 15px 0 0; }
    } 

    /* connection_form */ 
    .connection_form { 
        .connection_left { 
            padding: 1.5rem;
            section { 
                .connection_field_success { 
                    section {
                        align-items: flex-start; border-width:1px; padding:0.5rem;
                        h5 { 
                            width: 70%;
                            b { font-size: 16px; }
                            span {  font-size: 14px; }
                        }
                    }
                }
                .connection_field_failed { 
                    section {
                        align-items: flex-start; border-width:1px; padding:0.5rem;
                        h5 { 
                            width: 70%;
                            b { font-size: 16px;  }
                            span { font-size: 14px;  }
                        }
                    }
                }
                .connection_field { 
                    &.cf33 { width: 100%; }
                    &.cf30 { width: 100%; }
                    &.cf50 { width: 100%; }
                    &.cf67 { width: 100%;  }
                }
            }
        }
    }
}


@media only screen and (max-width:479px) 
{

    /* connection_tabs_container */ 
    .connection_tabs_container { 
        .conTabBody {  
           .connectioncontainer { 
                .connectioncontainerleft {
                    padding: 1rem 1rem 80px 1rem;  @include fCS(); align-items: stretch; 
                    .connectioncontainerWeb { display: none; }
                    .connectioncontainerMob { display: block; width:100px; float: left; }
                    ul { 
                        width: 100%; flex-wrap: wrap; margin: 0 0 0 1rem;
                        li { 
                            width: 100%; height: 16.5%; @include fSC();
                            p { text-align: left; font-size: 14px;  }
                        }
                    }
                }
               .connectioncontainerright { 
                width: 86%; margin: -60px 7% 1rem 7%; padding: 1rem;
                 .connectioncontainerscroll { 
                    section { width: 650px; }
                   } 
               }
           }
       }
   }



    /* ######################## connectionothers ######################## */
    .connectionothers {
        padding:3rem 0 6rem 0;
    } 


 


    /* connection_form */ 
    .connection_form { 
        .connection_left { 
            padding: 1.5rem;
            section { 
                .connection_field { 
                    ul {
                        margin: 0.5rem 0 0 0;
                        li { 
                            width: 55%; margin: 0.5rem 0; float: left;  
                            &:first-child { width: 100%; }
                            &:last-child { width: 100%;  }
                            .connection_upload {padding: 0.6rem 1.2rem;font-size: 14px; }
                        }
                    }
                }
            }
        }
    }

}