@font-face {
    font-family:'Arial-Regular';
    src: url('../fonts/Arial-Regular.woff2') format('woff2'), url('../fonts/Arial-Regular.woff') format('woff');
    font-weight:300; 
    font-style:normal;
    font-stretch:normal;
}
@font-face {
    font-family:'Arial-Medium';
    src: url('../fonts/Arial-Medium.woff2') format('woff2'), url('../fonts/Arial-Medium.woff') format('woff');
    font-weight:500; 
    font-style:normal;
    font-stretch:normal;
}
@font-face {
    font-family:'Arial-Bold';
    src: url('../fonts/Arial-Bold.woff2') format('woff2'), url('../fonts/Arial-Bold.woff') format('woff');
    font-weight:700; 
    font-style:normal;
    font-stretch:normal;
}
@font-face {
  font-family:'Arial-Black';
  src: url('../fonts/Arial-Black.woff2') format('woff2'), url('../fonts/Arial-Black.woff') format('woff');
  font-weight:900; 
  font-style:normal;
  font-stretch:normal;
}

@font-face {
    font-family:'Eurostile-Bold';
    src: url('../fonts/eurostile-bold.woff2') format('woff2'), url('../fonts/eurostile-bold.woff') format('woff');
    font-weight:bold; 
    font-style:normal;
    font-stretch:normal;
}
@font-face {
  font-family: 'Helvetica-Neue';
  src: url('../fonts/HelveticaNeue.woff2') format('woff2'), url('../fonts/HelveticaNeue.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch:normal;
}




  @mixin Arial {
    font-family:'Arial-Regular', Arial, sans-serif;
    font-weight: 300;
  }
  @mixin aMedium {
    font-family:'Arial-Medium', Arial, sans-serif;
    font-weight: 500;
  }
  @mixin aBold {
    font-family:'Arial-Bold', Arial, sans-serif;
    font-weight: 700;
  }
  @mixin aBlack {
    font-family:'Arial-Black', Arial, sans-serif;
    font-weight: 900;
  }
  @mixin eurostile {
    font-family:'Eurostile-Bold', Helvetica, sans-serif;
    font-weight: bold;
  }
  @mixin hnr {
    font-family: 'Helvetica-Neue', Helvetica, sans-serif;
    font-weight: 500;
  }
  @mixin FA {
    font-family: 'FontAwesome';
    font-weight: 300;
    line-height:1;
  }

  
/*
  @include Arial();
  @include aMedium();
  @include aBold();
  @include aBlack();
  @include eurostile();
  @include hnr();
  @include FA();
*/