
.infocontent{
    width: 100%; float: left; background-color:$wht1; position: relative;
    img { width: 100%;}
    .wrapper {
        padding:3rem 0 3rem 0; position:absolute; z-index:1; left: 50%; top: 50%; transform: translate(-50%, -50%);
        h2 { width: 100%; float: left; text-align: center;  color:$wht1; font-size:28px; line-height: 44px; text-shadow: 0px 3px 6px #00000077;
            text-transform: uppercase; @include eurostile(); }
        h3 { 
            width: 100%; float: left; margin: 0.5rem 0 1rem 0; text-align: center; color:$wht1; font-size:18px; line-height: 28px; text-shadow: 0px 3px 6px #0000003d; @include Arial(); 
            span { display: block;}
         }
         h4 { 
            width: 100%; float: left; margin: 0.5rem 0 1rem 0; text-align: center; color:$wht1; font-size:18px; line-height: 28px; text-shadow: 0px 3px 6px #0000003d; @include Arial(); 
            span { display: block;}
         }
        p { 
            width: 100%; float: left; text-align: center; color:$wht1; font-size:22px;  line-height: 26px; @include aBold(); text-shadow: 0px 3px 6px #00000041;
            a {
                text-decoration: none; color: $wht1;
                &:hover { color: $blu1; }
            }
        }
        aside {
            width: 100%; float: left; margin: 1rem 0 0 0;  text-align: center;
            a { 
                display: inline-block; width:auto; text-align: center; text-decoration: none; @include outT(); padding:10px 25px; border:none; background-color:$ong1; color: $wht1; @include eurostile(); font-size:16px; letter-spacing: 0.4px; line-height: 20px; text-transform: uppercase;
                &:hover {  @include inT(); background-color:$blk1;  color: $wht1; }
            }
        }
    }
}


@media only screen and (max-width:1565px) 
{

    .infocontent{
        .wrapper {
            padding:2rem 0;
            h2 {font-size:24px; line-height: 36px; }
            h3 {  margin: 0.5rem 0 1rem 0; font-size:16px; line-height: 24px; 
                span { display:inline;}
             }
             h3 {  margin: 0.5rem 0 1rem 0; font-size:16px; line-height: 24px; }
            p { font-size:18px;  line-height: 24px; }
        }
    }



}




@media only screen and (max-width:767px) 
{
    


    .infocontent{
        .wrapper {
            padding:2rem 0;
            h2 {font-size:24px; line-height: 30px; }
            h3 {  margin: 0.3rem 0 0.7rem 0; font-size:16px; line-height: 20px; }
            h4 {  margin: 0.3rem 0 0.7rem 0; font-size:16px; line-height: 20px; }
            p { display: none; }
            aside { margin: 0; }
        }
    }

}





@media only screen and (max-width:599px) 
{

    
    .infocontent{
        .wrapper {
            padding:1.5rem 0;
            h2 {font-size:20px; line-height: 26px; }
            h3 {  margin: 0.2rem 0 0.5rem 0; font-size:14px; line-height: 18px; }
            h4 {  
                margin: 0.2rem 0 0.5rem 0; font-size:14px; line-height: 18px; 
                span { display: inline; }
            }
            p { display: none; }
            aside { margin: 0; }
        }
    }
}




@media only screen and (max-width:479px) 
{

    .infocontent{
        .wrapper {
            padding:1.7rem 0;
            h2 {font-size:22px; letter-spacing: 1.32px; line-height: 28px; }
            h3 {  margin:1rem 0 1.5rem 0; font-size:16px; line-height: 22px; @include aBold(); }
            h4 {  margin:1rem 0 1.5rem 0; font-size:16px; line-height: 22px; @include aBold(); }
            p { display: none; }
            aside { 
                margin: 0; 
                a { font-size: 14px;  letter-spacing:0.35px; line-height: 17px; }
            }
        }
    }


}