.csrbutton { 
    display: inline-block; width:auto; text-align: center; text-decoration: none; @include outT(); padding:12px 25px; border:none; background-color:$ong1; color: $wht1; @include eurostile(); font-size:16px; line-height:20px; letter-spacing:0.4px; text-transform: uppercase;
    &:hover {  @include inT(); background-color:$blk1;  color: $wht1; }
}



/* ######################## csrWrap ######################## */
.csrWrap { 
    width: 100%; float: left; padding: 2rem 0 4rem; background-color:$wht1;
        
    .csrAbout {
        width: 100%; float: left; padding:2rem 0 0 0; @include fBS(); flex-wrap: wrap;
        .csrAboutLeft {
            width: 50%; float: left;
            p { width: 100%; float: left; text-align: left; color: $blk2; @include Arial(); font-size: 18px; line-height: 28px; }
            aside {
                display: block; width: 100%; float: left; text-align: left;  margin-top: 2rem;
                a.csrbutton {
                    background:$ong1; color: $wht1;
                   &:hover { background:$ong2; box-shadow: 4px 8px 12px #00000029;  }
               }
            }
        }
        .csrAboutRight {
            width: auto; float: right;
            ul 
            {
                width: 100%; float: left;  
                li {
                    list-style: none; width: 100%; margin: 0 0 2rem 0; @include fSC();
                    aside { 
                        width: auto; float: left; text-align: left;
                        img { max-width: 100%;}
                    }
                    p { 
                        width:auto; margin: 0 0 0 1rem; float: left; text-align: center; color: $blu1; @include aBold(); font-size: 20px; line-height: 24px; 
                        cursor: pointer; @include outT(); cursor: pointer;
                        span { display: inline-block; }
                        i.fa { display: inline-block; padding:0 5px;  @include outT(); }
                        &:hover { 
                            @include inT();
                            i.fa {  padding:0 0 0 10px;  @include inT(); }
                        }
                    }
                }
            }
        }
        .csrAboutBottom{
            display:none;  
            a.csrbutton {
                background:$ong1; color: $wht1;
               &:hover { background:$ong2; box-shadow: 4px 8px 12px #00000029;  }
           }
        }
    }
}





/* ######################## csrwrap ######################## */
.commitmentsWrap { 
    width: 100%; float: left; padding: 4rem 0 5rem 0; background-color:$wht3;
    h2 { 
        width: 100%; float: left;  text-align: left; @include fSC(); 
        span {  color:$blk1; font-size:28px; letter-spacing:1.68px; line-height: 35px; @include eurostile();  }
        img { margin-left:5px; max-width: 100%;}
    }
    .commitmentsTabs{
        width: 100%; float: left; margin:2rem 0 2rem 0; @include fCS();  
        ul {
            width: auto; @include fCC();  border-bottom: solid 1px $blk9; 
            &.disabled { user-select: none; pointer-events: none; }
            li {
                list-style: none; cursor: pointer; padding: 0 2rem 5px 2rem;  color: $blk9; font-size: 22px; line-height: 45px; @include Arial(); @include outT(); 
                &.active {
                    border-bottom-color:$blu1; color:$blu1;  @include aBold(); @include inT(); position: relative; user-select: none; pointer-events: none;
                    &:after { content: ''; position: absolute; bottom:-1px; left:0; width: 100%; height:4px; background: $blu1; line-height: 0; font-size: 1px; }
                }
            }
        }
    }
    .commitmentsContainer {
        width: 100%; float: left; position: relative; overflow: hidden; min-height: 100px;
        .csrloader { 
            display: none; z-index:1; position: absolute; left:0; top: 0; z-index:99; width: 100%;  height: 100%; margin: 0; padding: 0; background-color:$wht3; text-align: center; 
            i.fa.fa-spinner {  font-weight: 900; color:$ong1; font-size:72px; }
          }
        .commitmentsBox { 
            display: none; position: relative; width: 100%; float: left; margin: 1.5rem 0;
            .commitmentsLeft{
                float: left; width:50%;
                img { width: 100%;}
            }
            .commitmentsRight{
                position:absolute; right:0; top: 50%; transform: translateY(-50%); width: 60%; min-height:60%; padding:3rem 2rem; background-color: $wht1; box-shadow: 0px 6px 12px #00000014;
                aside { width: 100%; float: left; text-align: left; font-size: 16px; line-height: 1.2px; color: $blk7; @include Arial(); }
                h2 { width: 100%; float: left; margin: 0.7rem 0 0.5rem 0; text-align: left;  font-size: 26px; line-height: 30px; color: $blk1; @include aBold(); }
                p { width: 100%; float: left; text-align: left;  font-size: 18px; line-height: 28px; color:$blk2; @include Arial(); }
            }
            &.commitmentsReverse {
                .commitmentsLeft{float: right; }
                .commitmentsRight{ right:auto; left:0;  }
            }
        }
    }
}



@media only screen and (max-width:1565px) 
{

    /* ######################## csrWrap ######################## */
    .csrWrap {    
        .csrAbout {
            .csrAboutLeft {
                p {font-size: 16px; line-height: 26px; }
            }
            .csrAboutRight {
                ul {
                    li {
                        list-style: none; width: 100%; margin: 0 0 2rem 0; @include fSC();
                        p { font-size: 18px; line-height: 24px;  }
                    }
                }
            }
        }
    }





    /* ######################## csrwrap ######################## */
    .commitmentsWrap { 
        .commitmentsTabs{
            ul {
                li {
                    font-size:18px; line-height:36px 
                }
            }
        }
        .commitmentsContainer {
            .commitmentsBox { 
                margin: 1rem 0;
                .commitmentsRight{
                    width: 60%;padding:2rem;  
                    aside { font-size: 14px; }
                    h2 { font-size: 22px; line-height: 28px;  }
                    p {font-size: 16px; line-height: 24px; }
                }
            }
        }
    }


}


@media only screen and (max-width:1255px) 
{
    /* ######################## csrwrap ######################## */
    .commitmentsWrap { 
        .commitmentsTabs {
            ul {width: 100%; }
        }
        .commitmentsContainer {
            .commitmentsBox { 
                .commitmentsRight{
                    width: 70%;padding:1rem;  
                }
            }
        }
    }

}



@media only screen and (max-width:1023px) 
{
    /* ######################## csrWrap ######################## */
    .csrWrap {    
        padding: 2rem 0 3rem 0;
        .csrAbout {
            .csrAboutLeft {
                width: 100%;
                aside { display: none; }
            }
            .csrAboutRight {
                width: 100%; margin-top: 1rem;
                ul {
                    li { 
                        margin: 0.7rem 0; 
                        aside { 
                            img {max-width: 50px;}
                        }
                        p {
                            font-size: 16px;line-height: 24px;
                            i.fa { display: none;}
                        }
                    }
                }
            }
            .csrAboutBottom{
                display:block; width: 100%; float: left;text-align: left; margin-top: 1rem;
                a.csrbutton {
                    background:$ong1; color: $wht1;
                   &:hover { background:$ong2; box-shadow: 4px 8px 12px #00000029;  }
               }
            }
        }
    }





    /* ######################## csrwrap ######################## */
    .commitmentsWrap { 
        padding: 3rem 0;
        .commitmentsTabs{
            ul {
                li {font-size: 16px;line-height: 24px;text-align: center;}
            }
        }
        .commitmentsContainer {
            h2 { 
                span { font-size: 24px; letter-spacing:0.92px; line-height: 30px; }
            }
            .commitmentsBox { 
                margin: 1rem 0;
                .commitmentsLeft { 
                    width: 100%;
                }
                .commitmentsRight{
                   margin-top: -80px; width: 85%;padding:3rem 2rem; float: right; position: relative;right: 0;top: 0; transform: none;
                    aside { font-size: 14px; }
                    h2 { font-size: 22px; line-height: 28px;  }
                    p {font-size: 16px; line-height: 24px; }
                }
                &.commitmentsReverse {
                    .commitmentsRight{ float: left; left: 0; }
                }
            }
        }
    }


}



@media only screen and (max-width:1023px) 
{
    /* ######################## csrwrap ######################## */
    .commitmentsWrap { 
        .commitmentsTabs{
            margin: 1rem 0;
            ul {
                flex-wrap: wrap; border-bottom: none;
                li { 
                    width: 100%; float: left; padding: 1rem; background: $wht6; margin: 2px 0; border: none; font-size: 16px;line-height: 24px;text-align: left;
                    &.active { background: $blu1; color: $wht1; border-bottom: 0px;}
                }
            }
        }
    }
}





@media only screen and (max-width:479px) 
{


    /* ######################## csrWrap ######################## */
    .csrWrap { 
        .csrAbout {
            .csrAboutRight {
                width: 100%;  
                ul { 
                    li {
                        aside { 
                            img { max-width:35px;}
                        }
                        p { 
                            margin: 0 0 0 0.5rem;  text-align: left; font-size:16px; line-height: 24px; 
                        }
                    }
                }
            }
        }
    }





    /* ######################## csrwrap ######################## */
    .commitmentsWrap { padding:3rem 0 6rem 0; 
        h2 { 
            span {  font-size:22px; letter-spacing:0.92px; line-height:38px;  }
        }
        .commitmentsContainer {
            .commitmentsBox { 
                .commitmentsRight{
                    padding:1.5rem;  margin-top: -40px; width: 90%;
                    aside { font-size: 14px; }
                    h2 {  margin: 0.5rem 0 0.5rem 0; font-size: 22px; line-height: 24px;  }
                    p { font-size: 16px; line-height: 24px; }
                }
            }
        }
    }

}