/* ################## resourceswrap ################## */
.resourceswrap { 
    width: 100%; float: left; padding:2rem 0 6rem 0; background: $wht1;
}

/* icons */ 
.type_video, .type_blog, .type_ebook, .type_event, .type_pressrelease, .type_webinar { position: relative;}
.type_video:before, .type_blog:before, .type_ebook:before, .type_event:before, .type_pressrelease:before, .type_webinar:before { content: ''; position: absolute; right: 0; top: 0; height: 30px; width: 30px; float:right; }      
.type_video:before {background: url('../images/resources/icon_video.png') no-repeat center center;  background-size:100% 100%; }
.type_blog:before {background: url('../images/resources/icon_blog.png') no-repeat center center;  background-size:100% 100%; }
.type_ebook:before {background: url('../images/resources/icone_book.png') no-repeat center center;  background-size:100% 100%; }
.type_event:before {background: url('../images/resources/icon_event.png') no-repeat center center;  background-size:100% 100%; }
.type_pressrelease:before {background: url('../images/resources/icon_pressrelease.png') no-repeat center center;  background-size:100% 100%; }
.type_webinar:before {background: url('../images/resources/icon_webinar.png') no-repeat center center;  background-size:100% 100%; }


/* details == title */ 
.resources_title { 
    width: 100%; float: left; margin-bottom: 2.5rem;  
    h2 {
        width: 100%; float: left; text-align: left; 
        span {  display: inline;  color:$blk1; font-size:26px; letter-spacing:1.68px; line-height: 35px; @include aBlack();  }
        img { display: inline; max-width: 100%; margin:0 0 -2px 0; }
    }
    p { 
        width: 100%; float: left; margin: 0.7rem 0 0.9rem 0; text-align: left; color: $blk6; font-size:18px; line-height: 26px; @include Arial();  
    }
    aside { 
        width: 100%; float: left; text-align: left; 
        a { 
            text-decoration: none; @include outT(); color: $blu1; font-size: 22px; margin-right: 1.2rem;
            &:hover {  @include inT(); color:$ong1; }
        }
    }
}

/* details == container left right */ 
.resources_container { 
    width: 100%; float: left;
    .resources_container_left { 
        width:70%; float: left; 
    }
    .resources_container_right { 
        width: 27%; float: right; 
    }
}




/* details == related or featured post */ 
.resources_related {
    width: 100%; float: left; 
    &.resources_featured { margin-top: 3rem; }
    h2 { width: 100%; float: left; margin:0 0 1.5rem 0; text-align: left; color: $blk1; font-size:20px; line-height: 26px; @include aBold();  }
    ul { 
        width: 100%; float: left; padding:1rem; background:$wht7;
        li { 
            list-style: none; position: relative; float: left; width: 100%; padding:1.5rem; margin:0 0 1rem 0; background: $wht1;
            &:last-child { margin-bottom: 0px; }
            h5 { width: 100%; float: left; text-align: left; padding-right: 2rem; color: $blk1; font-size:16px; line-height: 28px; @include aBold();  }
            p { 
                width: 100%; float: left; margin-top: 0.7rem; text-align: left;  font-size:14px; line-height: 1.2; @include aBold(); 
                a {
                    text-decoration: none; @include outT(); color: $blu1;
                    i.fa { padding:0 5px; color: $blu1;   @include outT(); }
                    &:hover { 
                        @include inT(); color: $ong1; 
                        i.fa { padding:0 0 0 10px; color: $ong1;  @include inT(); }
                     }
                }
            }
        }
    }
}





/*  webinar */ 
.resources_webinar { 
    width: 100%; float: left;
    section { 
        width: 100%; height: 620px; float: left; border: 0; margin: 0; padding:0; 
        iframe { width: 100%; height: 100%; float: left; border: 0; margin: 0; padding:0; }
    }
    h2 { width: 100%; float: left; margin: 2rem 0 1rem 0; text-align: left; color: $blk1; font-size:20px; line-height: 26px; @include aBold();  }
    p { width: 100%; float: left; text-align: left; color: $blk2; font-size:16px; line-height: 26px; @include Arial();  }
}




/*  blogpost */ 
.resources_blogpost { 
    width: 100%; float: left;
    aside { 
        width: 100%; float: left; margin: 0 0 1rem 0;
        img {  width: 100%;  float: left; }
    }
    h2 { width: 100%; float: left; margin:0 0 0 0; text-align: left; color: $blk1; font-size:20px; line-height: 26px; @include aBold();  }
    p { width: 100%; float: left; margin:1rem 0;  text-align: left; color: $blk2; font-size:16px; line-height: 26px; @include Arial();  }
    h4 { width: 100%; float: left; margin:1rem 0 0 0; text-align: left; color: $blk1; font-size:20px; line-height: 26px; @include aBold();  }
}



/*  review */ 
.resources_review { 
    width: 100%; float: left; margin-top: 4rem;
    .resources_review_header { 
        width: 100%; float: left; margin-bottom:1rem; padding-bottom: 0.5rem; @include fBC(); border-bottom: solid 1px $wht9;
        h2 { text-align: left; font-size: 24px; line-height: 31px; @include aBold(); color: $blk1; }
        p { 
            text-align: right; font-size: 16px; line-height: 45px;  color:$blu1; @include aMedium();
            span { margin-right:0.7rem; }
            a { 
                @include outT(); text-decoration: none; color: $blk1;
                &:hover { @include inT(); color:$ong1; }
            }
        }
    }
    .resources_review_comments { 
        width: 100%; float: left; margin:1rem 0; @include fBS();  
        aside { 
            width: 60px; margin-right: 2rem;
            img { width: 100%;  border-radius: 50%; }
        }
        article { 
            float: right; width: 100%; padding-bottom: 1rem;  border-bottom: solid 1px $wht9;
            h2 { 
                width: 100%; float: left; text-align: left;  color: $blk10; font-size:16px; line-height:26px; @include Arial();
                span { display: inline-block; }
            }
            p { width: 100%; float: left; margin: 0.2rem 0 0.5rem 0; text-align: left; color:$blk6; font-size:16px; line-height:26px; @include Arial(); }
            h3 { 
                width: 100%; float: left; text-align: left;
                span { 
                    text-decoration: underline; cursor: pointer; color: $blu1; font-size:16px; line-height:26px; @include Arial(); @include outT();
                    &:hover { @include inT(); text-decoration: none; color: $ong1; }
                }
            }
        }
        section { 
            float: right; width:100%; 
            textarea { 
                width: 100%; float: left; padding: 1rem 1.5rem; height: 120px; outline: none; border: none; background-color:$wht9; text-align: left; color: $blu1; font-size:16px; line-height:26px; @include Arial(); resize: none; 
                &::placeholder { color: $blu1; opacity: 0.6;  }
                &:-ms-input-placeholder { color: $blu1; opacity: 0.6;   }
                &::-ms-input-placeholder { color: $blu1; opacity: 0.6;   }
            }
            .errorcomments { display: none; width: 100%; float: left; margin-top: 0.5rem; text-align: left; color: $ong1; font-size:14px; line-height:20px; @include Arial(); }
            h6 { 
                width: 100%; float: left; margin-top: 0.7rem; text-align: left;
                input[type='submit'] { 
                    display: inline-block; width:auto; text-align: center; text-decoration: none; @include outT(); padding:12px 25px; border:none; background:$ong1; color: $wht1;   @include aMedium(); font-size:14px; line-height:18px; letter-spacing:0.35px; text-transform: uppercase; text-decoration: none; cursor: pointer;
                    &:hover { @include inT();  background:$blk1; color: $wht1;   }
                }
            }
        }
        &:last-child{
            article {  padding-bottom: 0;  border-bottom:none; }
        }
    }
}



/*  about */ 
.resources_about { 
    width: 100%; float: left; 
    p { width: 100%; float: left;  text-align: left; font-size: 16px; line-height: 26px;  color:$blk2; @include Arial(); }
}


/*  filter */ 
.resources_filter { 
    width: 100%; float: left; margin:2rem 0 0 0;  @include fBS(); flex-direction: row-reverse;
    aside { 
        width: 250px; float:left;
        input[type='text'] { 
            background:transparent url('../Images/search2.png') no-repeat; background-position:right 8px top 50%; margin:0; width:100%; float: right; border:none;  border-bottom: solid 1px $blk7;  outline:none; padding:0.5rem 0.5rem; font-size: 16px; line-height: 1; color:$blu1; @include Arial();
            &::placeholder { color: $blk7; opacity: 1; }      
            &:-ms-input-placeholder { color: $blk7; opacity: 1; }
            &::-ms-input-placeholder { color: $blk7; opacity: 1;  }
        }
    }
    section { 
        width: 800px; float: left; @include fBS();
            div { 
                list-style: none; width: 24%; margin: 0 2% 0 0; position: relative;
                &:last-child { width:22%; margin-right: 0; }
                .erromsg { display: none; width: 100%; float: left; margin-top: 5px; font-size: 12px; color:$ong1; @include Arial(); text-align: left; }
                .clearmsg { 
                    margin-top:0.7rem; float: right; clear: both; text-decoration: underline; cursor: pointer; font-size: 16px; line-height: 21px; color:$blu1; @include Arial(); text-align: right;  @include outT(); 
                    &:hover { color: $ong1; text-decoration: underline; @include inT(); } 
                }
                .rt_head { position: relative; width: 100%; float: left; padding:0.5rem;  background:transparent; outline: none; border:none; border-bottom: solid 1px $blk7; text-align: left; font-size: 16px;  line-height: 1.2; color:$blk6; @include Arial(); text-decoration: none; cursor: pointer;  
                    &:after {content: "";position: absolute;right: 5px;top: 35%;transform: rotate(-135deg); padding: 2.5px; border-left: 2px solid $blk3; border-top: 2px solid $blk3; }
                    &.active { 
                        border-bottom-color: $wht1;
                        &:after { top:40%; transform: rotate(45deg); }
                    }
                }
                .rt_body {
                    display: none; z-index: 2; position: absolute; left: 0; top: 35px; padding:0.5rem 1rem;  width: 100%; float: left; background:$wht1; box-shadow: 0px 3px 6px #00000010;
                    li { 
                        list-style: none; margin:0.3rem 0; 
                        label { margin-left: 5px; text-align: left; color: $blk6; font-size: 16px; line-height: 1; @include Arial(); cursor: pointer; }
                    }
                }
                select {  
                    width: 100%; float: left; padding:0.5rem 0; background:transparent; outline: none; border:none; border-bottom: solid 1px $blk7; text-align: left; font-size: 16px;  line-height: 1.2; color:$blk6; @include Arial(); 
                    option { 
                        color: $blk1;      
                        &:disabled { user-select: none; pointer-events: none; }
                    }
                }
                input[type='submit'], input[type='button'] { 
                    display: inline-block; width:100%; text-align: center; text-decoration: none; @include outT(); padding:10px 0; border:none; background-color:$ong1; color: $wht1; @include aMedium(); font-size:14px; letter-spacing: 0.35px; line-height: 1.2; box-shadow:none; text-transform: uppercase; cursor: pointer;
                    &:hover {  @include inT(); background-color:$ong1; box-shadow: 4px 8px 12px #00000029; color: $wht1; }
                }
            }
    } 
}




/*  keywords */ 
.resources_keywords { 
    width: 100%; float: left; margin:1rem 0 0 0; 
    ul {
        width: 100%; float: left; background:$wht1;  
        li { 
            list-style: none; display: inline-block; margin:0 1rem 0 0; padding:0.6rem 1rem;  border: solid 1px $ong1; background: $wht1;  color: $ong1; font-size: 14px; line-height:18px; @include Arial(); 
            span { margin-right: 5px;   }
            i.fa {
                 cursor: pointer;  color: $ong1; @include outT();
                 &:hover { color: $blk1;  @include inT();  }
             }
        }
    }
}
 

/*  list */ 
.resources_list { 
    width: 100%; float: left;  margin:2rem 0 0 0;    
    ul {
        width: 100%; float: left; @include fBS(); flex-wrap: wrap;
        li { 
            list-style: none; width: 32.1%; margin:1rem .6%; float: left;  align-self: stretch;   background:$wht1; box-shadow: 0px 0px 6px #00000014;
            aside { 
                width: 100%; float: left; line-height: 0;
                img { width: 100%; }
            }
            section { 
                width: 100%; float: left; padding:2rem;
                h4 { 
                    width: 100%; float: left; margin-bottom:0.5rem; text-align: left; font-size: 14px; line-height: 1; color: $blk7; @include Arial();
                    span { display: inline-block; }
                }
                h3{ width: 100%; float: left; margin-bottom:0.5rem; text-align: left; font-size: 16px; line-height: 26px; color: $blk1; @include aBold(); }
                p { width: 100%; float: left;  margin-bottom:1rem; text-align: left; font-size: 14px; line-height: 1; color: $blk2; @include Arial(); }
                h5 { 
                    width: 100%; float: left; @include fBC();
                    a { 
                        text-decoration: none; color: $blu1; @include outT(); font-size: 14px; line-height: 1; @include aBold();
                        i.fa { padding:0 5px; color: $blu1;  @include outT(); }
                        &:hover { 
                            color: $ong1; @include inT(); 
                            i.fa { padding:0 0 0 10px; color: $ong1; @include inT(); }
                        }
                    }
                    span { 
                        color: $blu1;  @include outT(); cursor: pointer; width: 19px; height: 20px;  background: url('../images/share-orange.png') no-repeat center center; line-height: 1; text-decoration: none; filter: grayscale(1);
                        i.fa { display: none; }
                        &:hover { filter: grayscale(0); @include inT(); }
                    }
                }
            }
        }
    }
}


/*  pagination */ 
.resources_pagination { 
    width: 100%; float: left; margin:2rem 0 0 0;  @include fCC();
    p { 
        background: $wht1;  padding:8px 16px;  font-size:16px; @include aBold();
        a { 
            text-decoration: none; color:$blk4; @include outT();
            i.fa { padding: 0 5px; }
            &:hover { color: $ong1; @include inT(); }
        }
    }
    div { 
        h2 { display: none; }
        ul { 
            @include fCC(); 
            li { 
                list-style: none; background: $wht3; margin:0; padding:8px 16px; font-size:20px; @include aBold();
                a { 
                    text-decoration: none; color:$blk4; @include outT();
                    &:hover { color: $ong1; @include inT(); }
                    
                }
                &.active { 
                    a  {color: $ong1; user-select: none; pointer-events: none;  }
                }
            }
        }
    }
    
}



@media only screen and (max-width:1565px) 
{
    /* details == webinar */ 
    .resources_webinar { 
        section { height: 495px; }
    }

}



@media only screen and (max-width:1300px) 
{

    /* details == webinar */ 
    .resources_webinar { 
        section { height: 480px; }
    }




    /*  about */ 
    .resources_about { 
        p { font-size: 16px; line-height: 28px;  }
    }

    /*  filter */ 
    .resources_filter { 
        aside { 
            width: 220px; 
            input[type='text'] { font-size: 16px;  }
        }
        section { 
            width:700px;  
                div { 
                    .clearmsg { font-size: 16px; line-height: 18px;  }
                    .rt_head {  font-size: 16px;  
                        &:after {padding: 2px; }
                    }
                    .rt_body { 
                        top: 35px; 
                        li { 
                            label {font-size: 16px;}
                        }
                    }
                    select {  font-size: 16px; }
                }
        } 
    }




    /*  keywords */ 
    .resources_keywords { 
        ul {
            li { margin:0 0.5rem 0 0; padding:0.5rem;  font-size: 12px; line-height:16px; }
        }
    }
    

    /*  list */ 
    .resources_list { 
        ul {
            li { 
                width: 31.4%; margin:1rem 0.7%;  
                section { 
                    padding:1.5rem;
                    h4 { font-size: 16px; line-height: 18px;  }
                    h3{ font-size: 18px; line-height: 26px; }
                    p { font-size: 16px; line-height: 24px; }
                    h5 { 
                        a { font-size: 16px; line-height: 18px;}
                        span { font-size: 20px; }
                    }
                }
            }
        }
    }


    /*  pagination */ 
    .resources_pagination { 
        p { padding:6px 12px; }
        div { 
            ul { 
                li { padding:6px 12px; font-size:22px; }
            }
        }
    }


}


@media only screen and (max-width:1255px) 
{
     
 /* icons */ 
.type_video:before, .type_blog:before, .type_ebook:before, .type_event:before, .type_pressrelease:before, .type_webinar:before { height: 28px; width: 28px;  }  


    /* details == title */ 
    .resources_title { 
        margin-bottom: 1.5rem;  
        h2 {
            span { font-size:22px; letter-spacing:1.32px; line-height: 36px; }
            img { margin:0 0 -2px 0; }
        }
        p { margin: 0.5rem 0 0.7rem 0; font-size:17px; line-height: 28px;}
        aside { 
            a { font-size: 18px; margin-right: 1rem; }
        }
    }

    /* details == container left right */ 
    .resources_container { 
        width: 100%; float: left;
        .resources_container_left { 
            width: 67%; float: left; 
        }
        .resources_container_right { 
            width: 30%; float: right; 
        }
    }

    /* details == webinar */ 
    .resources_webinar { 
        section { height: 360px; }
        h2 {  margin: 2rem 0 1rem 0; font-size:18px; line-height: 21px; }
        p { font-size:16px; line-height: 26px;    }
    }


    /* details == related or featured post */ 
    .resources_related {
        width: 100%; float: left; 
        h2 { font-size:18px; line-height: 21px; }
        ul { 
            padding:1rem;  
            li { 
                padding:1rem; margin:0 0 1rem 0; 
                
                h5 { font-size:16px; line-height:26px; }
                p { font-size:16px; line-height:1; }
            }
        }
    }


    /*  blogpost */ 
    .resources_blogpost { 
        width: 100%; float: left;
        aside { 
            width: 100%; float: left; margin: 0 0 1rem 0;
            img {  width: 100%;  float: left; }
        }
        h2 {  font-size:18px; line-height: 26px;  }
        p { font-size:16px; line-height: 26px; }
        h4 {  font-size:18px; line-height: 26px;  }
    }

    /*  review */ 
    .resources_review { 
        margin-top:3rem;
        .resources_review_header { 
            h2 { font-size: 24px; line-height:40px;  }
            p { font-size: 14px; line-height:40px; }
        }
    
        .resources_review_comments { 
            aside { width:30px; margin-right:1rem;}
            article { 
                h2 { font-size:14px; line-height:28px; }
                p { font-size:16px; line-height:24px;}
                h3 { 
                    span { font-size:14px; line-height:28px; }
                }
            }
            section { 
                textarea { height: 100px; padding:0.7rem 1rem; font-size:14px; line-height:22px; }
            }
        }
    }



}

@media only screen and (max-width:1023px) 
{
    /* ################## resourceswrap ################## */
    .resourceswrap {  padding-bottom:3rem; }


    /* details == container left right */ 
    .resources_container { 
        .resources_container_left { 
            width: 100%;  
        }
        .resources_container_right { 
            width: 100%;  margin-top: 3rem;
        }
    }

    /* details == webinar */ 
    .resources_webinar { 
        section { height: 400px; }
    }




    


    /*  filter */ 
    .resources_filter { 
        flex-wrap: wrap;
        aside { 
            width: 100%;  margin-bottom: 1rem;
        }
        section { 
            width: 100%; flex-wrap: wrap; justify-content:space-between;    
                div { 
                    width: 48%; margin: 0;
                    &:last-child { width:48%; }
                    &:nth-child(1) { margin-bottom: 1rem; }
                    &:nth-child(2) { margin-bottom: 1rem; }
                    .rt_body { 
                        top: 35px; 
                        li { 
                            label {font-size: 16px;}
                        }
                    }
                    select {  font-size: 16px; }
                }
        } 
    }

    /*  keywords */ 
    .resources_keywords { 
        ul {
            li { margin:0.1rem;  }
        }
    }


    


    /*  list */ 
    .resources_list { 
        ul {
            li { 
                width: 47%; margin: 1rem 1.5%;
                section { padding:1rem;}
            }
        }
    }




}



@media only screen and (max-width:767px) 
{
 
    /* details == webinar */ 
    .resources_webinar { 
        section { height: 310px; }
    }


        /*  review */ 
        .resources_review { 
            .resources_review_header { 
                flex-wrap: wrap;
                h2 { width: 100%; line-height:1.4; }
                p { margin-top: 0.7rem; width: 100%; line-height:1.4;  }
            }
        }
    
}


@media only screen and (max-width:599px) 
{
 
    /* details == webinar */ 
    .resources_webinar { 
        section { height: 250px; }
    }



    /*  pagination */ 
    .resources_pagination { 
        div { 
            position: relative; width:80px; 
            h2 { 
                display: block; width: 100%; float: left; background:$wht3; position: relative; padding:7px 0; margin:0; cursor: pointer; font-size: 20px; @include aBold(); color: $blk2; cursor: pointer; text-align: center;
                &:after {content: ""; position: absolute;right:9px; top: 40%;transform: rotate(-135deg); padding: 2.5px; border-left: 2px solid $blk3; border-top: 2px solid $blk3; }
            }
            ul { 
                display: none; position: absolute; right: 0; top:39px; width: 100%; height:120px; float:left; padding:0.2rem 0; border-top: solid 1px $wht6; overflow: hidden; overflow-y: scroll; background:$wht3; flex-direction: column;
                li { 
                    width: 100%; float:left; text-align: center; padding: 0.3rem 0; 
                }
            }
        } 
    }


    /*  list */ 
    .resources_list { 
        ul {
            justify-content: center;
            li { 
                width: 98%; margin:0.5rem 0;
                section { padding:1rem;}
            }
        }
    }
    
}



@media only screen and (max-width:479px) 
{
     /* ################## resourceswrap ################## */
    .resourceswrap {  padding-bottom:6rem; }
    
    /* details == webinar */ 
    .resources_webinar { 
        section { height: 190px; }
    }


    /*  filter */ 
    .resources_filter { 
        section {   
                div { 
                    width: 100%; margin-bottom: 1rem;
                    &:last-child { width:100%; }
                    .rt_body { 
                        top: 35px; 
                        li { 
                            label {font-size: 16px;}
                        }
                    }
                    select {  font-size: 16px; }
                    input[type=submit], input[type=button] { float: left;  width: 50%; }
                    .clearmsg { clear: none;float: left;margin-left: 2rem;}
                }
        } 
    }
    
}