/* ################## resourceswrap ################## */
.resourceswrap { 
    width: 100%; float: left; padding:2rem 0 6rem 0; background: $wht1;
}


/* details == title */ 
.resources_title { 
    width: 100%; float: left; margin-bottom: 2rem;  
    h2 {
        width: 100%; float: left; text-align: left; 
        span {  display: inline;  color:$blk1; font-size:28px; letter-spacing:1.68px; line-height: 35px; @include eurostile();  }
        img { display: inline; max-width: 100%; margin:0 0 -2px 0; }
    }
    p { 
        width: 100%; float: left; margin: 0.7rem 0 0.9rem 0; text-align: left; color: $blk6;   font-size:20px; line-height: 28px; @include Arial();  
    }
    aside { 
        width: 100%; float: left; text-align: left; 
        a { 
            text-decoration: none; @include outT(); color: $blu1; font-size: 20px; margin-right: 1.2rem;
            &:hover {  @include inT(); color:$ong1; }
        }
    }
}

/* details == container left right */ 
.resources_container { 
    width: 100%; float: left;
    .resources_container_left { 
        width: 67%; float: left; 
    }
    .resources_container_right { 
        width: 29%; float: right; 
    }
}

/* details == webinar */ 
.resources_webinar { 
    width: 100%; float: left;
    section { 
        width: 100%; height: 620px; float: left; border: 0; margin: 0; padding:0; 
        iframe { width: 100%; height: 100%; float: left; border: 0; margin: 0; padding:0; }
    }
    h2 { width: 100%; float: left; margin: 2rem 0 1rem 0; text-align: left; color: $blk1; font-size:22px; line-height: 26px; @include aBold();  }
    p { width: 100%; float: left; text-align: left; color: $blk2; font-size:18px; line-height: 28px; @include Arial();  }
}


/* details == related or featured post */ 
.resources_related {
    width: 100%; float: left; 
    &.featured { margin-top: 2rem; }
    h2 { width: 100%; float: left; margin:0 0 1.5rem 0; text-align: left; color: $blk1; font-size:22px; line-height: 26px; @include aBold();  }
    ul { 
        width: 100%; float: left; padding:2rem; background:$wht7;
        li { 
            list-style: none; position: relative; float: left; width: 100%; padding:2.5rem 2.5rem 2rem 2rem; margin:0 0 1rem 0; background: $wht1;
            &:last-child { margin-bottom: 0px; }
            &:before { content: ''; position: absolute; right: 0; top: 0; height: 30px; width: 30px; float:right; }      
            &.typevideo {
                &:before {background: url('../images/resources/icon4.png') no-repeat center center;  background-size:100% 100%; }
            }
            h5 { width: 100%; float: left; text-align: left; color: $blk1; font-size:18px; line-height: 30px; @include aBold();  }
            p { 
                width: 100%; float: left; margin-top: 0.7rem; text-align: left;  font-size:16px; line-height: 1.2; @include aBold(); 
                a {
                    text-decoration: none; @include outT(); color: $blu1;
                    i.fa { padding:0 5px; color: $blu1;   @include outT(); }
                    &:hover { 
                        @include inT(); color: $ong1; 
                        i.fa { padding:0 0 0 10px; color: $ong1;  @include inT(); }
                     }
                }
            }
        }
    }
}






@media only screen and (max-width:1565px) 
{
    /* details == webinar */ 
    .resources_webinar { 
        section { height: 495px; }
    }

}



@media only screen and (max-width:1300px) 
{
    /* details == container left right */ 
    .resources_container { 
        .resources_container_left { 
            width: 65%; 
        }
        .resources_container_right { 
            width: 33%; 
        }
    }

    /* details == webinar */ 
    .resources_webinar { 
        section { height: 480px; }
    }

}


@media only screen and (max-width:1255px) 
{
 
 


    /* details == title */ 
    .resources_title { 
        margin-bottom: 1.5rem;  
        h2 {
            span { font-size:22px; letter-spacing:1.32px; line-height: 36px; }
            img { margin:0 0 -2px 0; }
        }
        p { margin: 0.5rem 0 0.7rem 0; font-size:17px; line-height: 28px;}
        aside { 
            a { font-size: 18px; margin-right: 1rem; }
        }
    }

    /* details == container left right */ 
    .resources_container { 
        width: 100%; float: left;
        .resources_container_left { 
            width: 67%; float: left; 
        }
        .resources_container_right { 
            width: 29%; float: right; 
        }
    }

    /* details == webinar */ 
    .resources_webinar { 
        section { height: 360px; }
        h2 {  margin: 2rem 0 1rem 0; font-size:18px; line-height: 21px; }
        p { font-size:16px; line-height: 26px;    }
    }


    /* details == related or featured post */ 
    .resources_related {
        width: 100%; float: left; 
        h2 { font-size:18px; line-height: 21px; }
        ul { 
            padding:1rem;  
            li { 
                padding:2rem 2rem 1rem 1rem; margin:0 0 1rem 0; 
                &:before { height: 28px; width: 28px;  }      
                h5 { font-size:16px; line-height:26px; }
                p { font-size:16px; line-height:1; }
            }
        }
    }



}

@media only screen and (max-width:1023px) 
{
    /* ################## resourceswrap ################## */
    .resourceswrap {  padding-bottom:3rem; }


    /* details == container left right */ 
    .resources_container { 
        .resources_container_left { 
            width: 100%;  
        }
        .resources_container_right { 
            width: 100%;  margin-top: 3rem;
        }
    }

    /* details == webinar */ 
    .resources_webinar { 
        section { height: 400px; }
    }

}

@media only screen and (max-width:767px) 
{
 
    /* details == webinar */ 
    .resources_webinar { 
        section { height: 310px; }
    }
    
}


@media only screen and (max-width:599px) 
{
 
    /* details == webinar */ 
    .resources_webinar { 
        section { height: 250px; }
    }
    
}



@media only screen and (max-width:479px) 
{
     /* ################## resourceswrap ################## */
    .resourceswrap {  padding-bottom:6rem; }
    
    /* details == webinar */ 
    .resources_webinar { 
        section { height: 190px; }
    }
    
}