.servicebutton { 
    display: inline-block; width:auto; text-align: center; text-decoration: none; @include outT(); padding:12px 25px; border:none; background-color:$ong1; color: $wht1; @include aMedium(); font-size:16px; line-height:1; letter-spacing:0.4px; text-transform: uppercase;
    &:hover {  @include inT(); background-color:$blk1;  color: $wht1; }
}


/* ######################## servicewrap ######################## */
.servicewrap { 
    width: 100%; float: left; padding: 2rem 0 5rem; background-color:$wht1;
        
    .serviceAbout {
        width: 100%; float: left; padding:0; @include fBS(); flex-wrap: wrap;
        .serviceAboutLeft {
            width: 45%; float: left;
            p { width: 100%; float: left; text-align: left; color: $blk2; @include Arial(); font-size: 16px; line-height: 26px; }
        }
        .serviceAboutRight {
            width: 45%; float: right;
            ul 
            {
                width: 100%; float: left; @include fBS(); flex-wrap: wrap;
                li {
                    list-style: none; width: 33%; margin: 0 0 4rem 0;
                    aside { 
                        width: 100%; float: left; text-align: center;
                        img { max-width: 100%;}
                    }
                    p { width: 100%; margin: 1rem 0 0 0; float: left; text-align: center; color: $blk2; @include Arial(); font-size: 18px; line-height: 24px; }
                }
            }
        }
        .serviceAboutBottom{
            width: 100%; float: left;text-align: left; margin-top: 1.5rem;
            a.servicebutton {
                background:$ong1; color: $wht1;
               &:hover { background:$ong2; box-shadow: 4px 8px 12px #00000029;  }
           }
        }
    }



    
    .serviceHighlight { 
        width: 100%; float: left; padding:5rem 0 0 0;
            ul {
                width: 100%; float: left; @include fBS(); align-items: stretch;
                li {
                    list-style: none; width: 15.5%; height: inherit; box-shadow: 0px 6px 12px #00000014; background-color: $wht1; overflow: hidden;
                    a { 
                        position: relative; text-decoration: none; padding: 1rem; width: 100%; height: 100%; float: left; border-bottom: solid 2px $ong1; overflow: hidden; border-radius: 0px 0px 3px 3px; cursor: pointer; @include outT(); background-color: $wht1;  cursor: pointer;
                        aside { 
                            z-index:2; position: relative; width: 100%; float: left;  text-align: center; 
                            img { max-width: 100%; filter:none;  @include outT();  }
                        }
                        p { z-index:2; position: relative; width: 100%; float: left; margin-top: 0.4rem; text-align: center; white-space: nowrap; color:$blu1; font-size:16px; line-height: 36px; white-space:normal; @include aBold(); @include outT(); }
                        &:before { z-index:1; content: '';position:absolute; left: 0; top: 0; width: 1px; height: 100%; background: transparent; @include outT();  }
                        &:hover { 
                             border-color: $blu1; border-radius: 0px 0px 3px 3px;  @include inT(); 
                            img { filter: brightness(0) invert(1);  @include inT();  }
                            p { color:$wht1; @include inT(); }
                            &:before {  width: 100%; height: 100%; background: $blu1;  @include inT(); }
                        }
                    }
                }
            }
    }




    .serviceWhychoose { 
        width: 100%; float: left; padding:5rem 0; text-align: center;
        h2 { 
            width: 100%; float: left; text-align: left; @include fSC(); 
            span {  color:$blk1; font-size:26px; letter-spacing:1.68px; line-height: 35px; @include aBlack();  }
            img { margin-left:5px; max-width: 100%;}
        }
        h3 {  width: 100%; margin:0.3rem 0 2rem 0; float: left; text-align: left; color: $blk2; @include Arial(); font-size:16px; line-height: 26px;  }
        section { 
            width: 100%; max-width: 1000px; margin: 0 auto; @include fBS(); align-items: stretch;
            img { width:450px }
            ul { 
                width: 520px;  @include fSS(); flex-wrap: wrap;
                li { 
                    list-style: none;
                    h4 {  width: 100%; margin:0; float: left; text-align: left; color: $blk1; @include aBold(); font-size:16px; line-height: 26px;  }
                    p {  width: 100%; margin:0.1rem 0; float: left; text-align: left; color: $blk2; @include Arial(); font-size:14px; line-height: 22px;  }
                }
            }
            aside { display: none; }
        }
    }



    .servicePricebyarea { 
        width: 100%; float: left;  position: relative;
        .servicePricebyareaRight {
            width:60%; float: right;  
            img { width: 100%;}
        }
        .servicePricebyareaLeft { 
            width: 50%; min-height: 65%; float: left;  background:$wht1; padding: 3rem 2rem; position: absolute; top: 50%; left: 0; transform: translateY(-50%);
            box-shadow: 0px 6px 12px #00000014;
            h2 { 
                width: 100%; float: left; text-align: left; @include fSC(); 
                span {  color:$blk1; font-size:26px; letter-spacing:1.68px; line-height: 35px; @include aBlack();  }
                img { margin-left:5px; max-width: 100%;}
            }
            p {  width: 100%; margin:0.5rem 0 2rem 0; float: left; text-align: left; color: $blk2; @include Arial(); font-size:16px; line-height: 26px;  }
            section { 
                width: 100%; float: left; @include fSC();
                h3 { width:auto; margin-right:1rem; float: left; text-align: left; color:$blk7; @include Arial(); font-size:12px; line-height: 28px;  }
                h4 { width:auto; padding:0 0.6rem; margin-right:1rem; float: left; border: solid 1px $ong1; text-align: left; color:$ong1; @include Arial(); font-size:14px; line-height: 28px; }
                .servicepinchange{ 
                    width:135px; margin-right:1rem; float: left; display: none; 
                    aside  { 
                        @include fSS(); width:100%; float: left;
                        input[type='text'] { width:90px; float:left; padding:0; border: solid 1px $ong3; outline: 0; background: $wht1; text-align: center; color:$blk1; @include Arial(); font-size:14px; line-height: 28px;  }
                        input[type='submit'] { width:45px; float:left; padding:0; border: solid 1px $ong3; outline: 0; background: $ong1; text-align: center; color:$wht1; @include Arial(); font-size:14px; line-height: 28px; cursor: pointer;   @include outT();
                            &:hover {  background: $blk1; color:$wht1;    @include inT(); }
                        }
                    }
                    span { display: none; width: 100%; float:left; margin-top:3px; text-align: left; color:$ong1; @include Arial(); font-size:11px; line-height: 18px; }
                }
                img { 
                    max-width: 100%; cursor: pointer; filter: grayscale(1); @include outT();
                    &:hover { filter: grayscale(0); @include inT();}
                }
            }
            h5 { 
                width: 100%; margin:1rem 0 0 0; float: left; text-align: left; color: $blk1; @include aMedium(); font-size:74px; line-height: 1.2; 
                i.fa { margin-right: 5px; line-height: 1; font-size: 90%; font-weight: 300; }
            }
        }
    }






    .serviceFuelsavings {
        width: 100%; float: left; padding:5rem 0; position: relative;
        img { width: 100%;}
        section {
            position: absolute; left: 3%; top: 50%; transform: translateY(-50%); width: 390px; float:left;
            h2 {  width: 100%; float: left; text-align: left;  color:$wht1; font-size:26px; letter-spacing:1.68px; line-height: 35px; @include aBlack();   }
            p {  width: 100%; margin:0.7rem 0 1.5rem 0; float: left; text-align: left; color: $wht1; @include aBold(); font-size:16px; line-height: 26px; }
            aside { 
                width: 100%; float: left; text-align: left; 
                a.servicebutton {
                    text-decoration: none; text-decoration: none;
                    &:hover { text-decoration: none; }
                }
            }
        }
    }

 

    .servicePipelineAvailable { 
        width: 100%; float: left;  position: relative;
        .serviceAvailableRight {
            width:60%; float: left;  
            img { width: 100%;}
        }
        .serviceAvailableLeft { 
            width: 50%; min-height: 65%; float: left;  background:$wht1; padding: 3rem 2rem; position: absolute; top: 50%; right: 0; transform: translateY(-50%);
            box-shadow: 0px 6px 12px #00000014;
            h2 { 
                width: 100%; float: left; text-align: left; @include fSC(); 
                span {  color:$blk1; font-size:26px; letter-spacing:1.68px; line-height: 35px; @include aBlack();  }
                img { margin-left:5px; max-width: 100%;}
            }
            h3 { width: 100%; margin:0.5rem 0 1.5rem 0; float: left; text-align: left; color: $blk2; @include Arial(); font-size:16px; line-height: 26px; }
            h4 { width: 100%; margin:0 0 0.7rem 0; float: left; text-align: left; color: $blk2; @include aBold(); font-size:16px; line-height: 26px; }
            section { 
                width:75%; float: left; @include fBS();
                aside { 
                    width: 47%; float: left;
                    .pincodeinput {  
                        width: 100%; float: left; padding:5px 0; background:transparent; outline: none; border:none; border-bottom: solid 1px $blk2; text-align: left; font-size: 16px; line-height: 24px; color: $blk7; @include aMedium();
                        &::placeholder { color: $blk7;  opacity: 1; }      
                        &:-ms-input-placeholder { color: $blk7; opacity: 1; }
                        &::-ms-input-placeholder { color: $blk7; opacity: 1;  }
                    }
                    .districtselect {  
                        width: 100%; float: left; padding:5px 0; background:transparent; outline: none; border:none; border-bottom: solid 1px $blk2; text-align: left; font-size: 16px;  line-height: 24px; color:$blk7;  @include aMedium(); 
                        option { 
                            color: $blk7;      
                            &:disabled { user-select: none; pointer-events: none; }
                        }
                    }
                    .errormsg { display:none; width: 100%; float:left; margin-top:3px; text-align: left; color:$ong1; @include Arial(); font-size:11px; line-height: 18px; }
                }
            }
            h5 { 
                width: 100%; float: left; text-align: left; margin-top:1rem;
                .gosubmit {
                    display: inline-block; width:auto; text-align: center; text-decoration: none; @include outT(); padding:10px 25px; border:none; background-color:$ong1; color: $wht1; @include aMedium(); font-size:16px; letter-spacing: 0.4px; line-height: 20px; text-transform: uppercase; cursor: pointer;
                        &:hover {  @include inT(); background-color:$blk1;  color: $wht1; }
                }
            }
            h6 {
                width: 100%; float: left; text-align: left;  margin-top:2rem;
                a {
                    text-decoration: none; @include outT(); font-size:16px; line-height: 26px;  color:$blu1;
                    span { border-bottom: solid 1px $blu1; padding-bottom: 1px; text-align: left; @include aBold();  }
                    i.fa { font-weight: 400; margin-left: 5px;  @include outT(); }
                    &:hover {
                        color:$blk1; @include inT();
                        span { border-bottom-color:$blk1; }
                        i.fa { margin-left: 10px; @include inT();}
                    }
                }
            } 
        }
    }


}



/* ######################## serviceothers ######################## */
.serviceothers {
    width: 100%; float: left; padding: 5rem 0 6rem 0; background-color:$wht3;
    .serviceotherslider{
        width: 100%; float: left; @include fBS();
        .items { 
            width: 49.5%; float: left; position: relative;
            img { width: 100%; }
            h2 { position: absolute; left: 10%; top: 12%; width: 80%; color: $wht1; @include aBlack(); font-size:30px; letter-spacing:1.92px; line-height: 44px; text-transform: uppercase; text-shadow: 0px 3px 6px rgba(0,0,0,0.6); text-align: left; }
            a.servicebutton {
                position: absolute; bottom:4px; right:0;  text-decoration: none; @include outT(); white-space:nowrap;
                &:hover { @include inT(); }
            }
        }
    }
    h3 { 
        width: 100%; float: left; margin-top: 2rem; text-align: center; font-size:16px; line-height: 26px;  color:$blu1; @include aBold();
        b { font-weight: normal; }
        a { 
            text-decoration: none;  color:$blu1; @include outT(); 
            span {
                padding:0 5px;  @include outT();
            }
            &:hover {
                color:$blk1; @include inT();
                span { padding:0 0 0 10px; @include inT();}
            }
        }
    }
}





@media only screen and (max-width:1565px) 
{


    /* ######################## servicewrap ######################## */
    .servicewrap {  
        .serviceAbout {
            .serviceAboutLeft { width: 48%; }
            .serviceAboutRight {
                width: 48%;
                ul 
                {
                    li {
                        margin: 0 0 3rem 0;
                        p { font-size: 18px;  }
                    }
                }
            }
        }



        
        .serviceHighlight { 
                ul {
                    li {
                        a { 
                            padding:0.7rem; 
                            p { margin-top: 0.5rem; font-size:14px; line-height:18px;  }
                        }
                    }
                }
        }




        .serviceWhychoose { 
            h2 {  
                span { font-size:24px; letter-spacing:0.92px; line-height: 35px;  }
            }
            h3 { margin:0.2rem 0 1.5rem 0;  font-size:16px; line-height: 24px;  }
            section { 
                ul { 
                    li { 
                        h4 { font-size:16px; line-height: 24px;  }
                        p {  font-size:14px; line-height: 20px;  }
                    }
                }
            }
        }
    


        .servicePricebyarea { 
            .servicePricebyareaLeft { 
                padding:2rem 1.5rem;  
                h2 { 
                    span { font-size:24px; letter-spacing:0.92px; line-height: 30px;  }
                }
                p {  margin: 0.5rem 0 1rem 0; font-size: 16px; line-height: 24px; }
                h5 { font-size:66px;  }
            }
        }






        .serviceFuelsavings {
            section {
                width: 400px; 
                h2 { font-size:24px; letter-spacing:0.92px; line-height: 30px;   }
                p { margin:0.5rem 0 1rem 0; font-size:16px; line-height: 24px; }
            }
        }

    

        .servicePipelineAvailable { 
            .serviceAvailableLeft { 
                padding: 2rem 1.5rem; 
                h2 { 
                    span {  font-size:24px; letter-spacing:0.92px; line-height: 30px;   }
                }
                h3 {  margin:0.5rem 0 1rem 0; font-size:16px; line-height: 24px; }
                h4 { margin:0 0 0.5rem 0; font-size:16px; line-height: 24px; }
                section { 
                    width:100%;  
                    aside { 
                        width: 48%;
                        .pincodeinput {  font-size: 16px; line-height: 22px; }
                        .districtselect {  font-size: 16px;  line-height: 22px;  }
                    }
                }
                h6 {
                    margin-top:1rem;
                    a { font-size:16px; line-height: 24px;  }
                } 
            }
        }



    }


}





@media only screen and (max-width:1300px) 
{

}





@media only screen and (max-width:1255px) 
{
    /* ######################## servicewrap ######################## */
    .servicewrap { 
        padding: 2rem 0 3rem 0;

        .serviceHighlight {
            padding: 3rem 0 0 0;
        }

        .serviceWhychoose { 
        padding:3rem 0; 
            section { 
                max-width: 942px;
                img { width: 445px; }
                ul { 
                    width: 480px; 
                    li {
                        p { margin: 0; font-size: 13px; line-height: 18px; }
                    }
                }
            }
        }

        


        .servicePricebyarea { 
            .servicePricebyareaLeft { 
                padding:1rem;  width: 65%;
            }
        }






        .serviceFuelsavings {
            padding:3rem 0;
            section {
                width: 350px; 
                aside { 
                    a.servicebutton {  padding: 8px 15px; font-size: 14px; line-height: 18px; letter-spacing: .2px;}
                }
            }
        }

    

        .servicePipelineAvailable { 
            .serviceAvailableLeft { 
                padding:1rem; width: 65%;
            }
        }


   }




    /* ######################## serviceothers ######################## */
    .serviceothers {
        padding:3rem 0 5rem 0;
        .serviceotherslider{
            .items { 
                h2 { left:5%; top:8%; width: 90%; font-size:24px; letter-spacing:0.35px; line-height: 30px;  }
                a.servicebutton { padding: 8px 15px; font-size: 14px; letter-spacing: 0.35px;  }
            }
        }
        h3 { margin-top: 1rem; font-size:16px; line-height: 24px;   }
    } 



}





@media only screen and (max-width:1023px) 
{
    /* ######################## servicewrap ######################## */
    .servicewrap { 

        .serviceAbout {
              flex-wrap: wrap;
            .serviceAboutLeft {
                width: 100%;
            }
            .serviceAboutRight {
                width: 100%; margin-top: 1rem;
                ul {
                    li { 
                        margin: 1rem 0; 
                        aside {
                            img {
                                max-width: 55px;
                            }
                        }
                        p {
                            font-size: 16px; margin: 0.5rem 0 0 0;
                        }
                    }

                }
            }
            .serviceAboutBottom { margin-top: 1rem; }
        }



        .serviceHighlight 
        {
            display: none;
            ul {
                flex-wrap: wrap;
                li { width: 31%; margin: 7px 0;}
            }
        }
        


        
        .serviceWhychoose { 
            section { 
                max-width:100%;
                img { display: none; }
                ul { 
                    width: 100%; 
                    li {
                        margin-bottom: 1rem;;
                        h4 {font-size: 18px;line-height: 28px; }
                        p {
                           position: relative; padding-left:88px; margin:0.2rem 0 0 0;font-size: 16px;line-height: 24px;
                           &:before, &:after { content: ""; position: absolute; left: 0; background-color: $blu1;  height:6px; border-radius:10px; line-height: 0; font-size: 1px; }
                           &:before { width: 68px; top:10px; }
                           &:after {  width: 58px; top:22px; opacity: 0.34; }
                        }
                        &:last-child { margin-bottom: 0;}
                    }
                }
            }
        }


        .servicePricebyarea { 
            .servicePricebyareaRight { 
                 width: 100%;
            }
            .servicePricebyareaLeft { 
                margin-top: -100px; padding: 1.5rem;transform: none; width: 85%; float: right;position: relative;top: auto; bottom: 0;left: auto; right: 0;
                h2 {
                    display: block;
                    span { display: inline; } 
                    img { display: inline; margin: 0 0 -3px 0px; }
                }
            }
        }






        .serviceFuelsavings {
            section {
                width: 350px; 
                aside { 
                    a.servicebutton {  padding: 8px 15px; font-size: 14px; line-height: 18px; letter-spacing: .2px;}
                }
            }
        }



        .servicePipelineAvailable { 
            .serviceAvailableRight { 
                width: 100%;
           }
            .serviceAvailableLeft { 
                margin-top: -100px; padding: 1.5rem;transform: none; width: 85%; float: right;position: relative;top: auto; bottom: 0;left: auto; right: 0;
                h2 {
                    display: block;
                    span { display: inline; } 
                    img { display: inline; margin: 0 0 -3px 0px; }
                }
            }
        }


    }


    .serviceothers {
        padding: 3rem 0;
    }

}






@media only screen and (max-width:767px) 
{

    /* ######################## servicewrap ######################## */
    .servicewrap { 

        .serviceHighlight {
            ul { 
                li {
                    a { 
                        padding: 0.5rem; 
                        aside { 
                            img {max-width: 30px; }
                        }
                        p {margin-top: 0.2rem; }
                    }
                }
            }
        }


        .servicePricebyarea { 
            .servicePricebyareaLeft {  width: 92%;  }
        }
 

        .serviceFuelsavings {
            section {
                width: 290px; 
                h2 {font-size: 21px; line-height: 24px;}
                p {margin: 0.1rem 0 0.7rem 0;font-size: 14px;line-height: 20px;}
                aside { 
                    a.servicebutton {  padding: 8px 15px; font-size: 14px; line-height: 18px; letter-spacing: .2px;}
                }
            }
        }

        .servicePipelineAvailable { 
            .serviceAvailableLeft {  width: 92%;  }
        }



    }

    /* ######################## serviceothers ######################## */
    .serviceothers {
        .serviceotherslider{
            .items { 
                a.servicebutton { bottom: -1px; }
            }
        }
        h3 { margin-top: 1rem; font-size:16px; line-height: 24px;   }
    } 
    .serviceotherslider .slick-list { overflow: hidden;  }
    .serviceotherslider .slick-track { overflow: hidden; }
    .serviceotherslider .slick-slide { margin: 0 10px 0 0; }

}




@media only screen and (max-width:599px) 
{

}



@media only screen and (max-width:479px) 
{

    /* ######################## servicewrap ######################## */
    .servicewrap { 

        .serviceAbout {
            .serviceAboutLeft {
                p { font-size: 16px; line-height: 26px; color:$blk2; }
            }
            .serviceAboutRight {
                ul {
                    width:98%; margin:0 1%;
                    li {
                        width: 100%; margin: 0 0 1rem 0; @include fSC();
                        aside { 
                            width: auto; text-align: left;
                            img { max-width:38px; }
                        }
                        p { width:auto; margin:0 0 0 1rem; text-align: left; font-size: 16px; line-height: 45px; color:$blk2;  }
                    }
                }
            }
            .serviceAboutBottom{
               margin-top:0.5rem;
                a.servicebutton {color: $wht1; font-size: 14px; letter-spacing: 0.35px; line-height: 17px;}
            }
        }



        
        .serviceHighlight { 
                ul {
                    li {
                        width: 48%;
                        a { 
                            padding:0.7rem; border-bottom-width:1px; @include fSC();
                            aside { 
                                width: auto;  text-align:left;
                                img { max-width:28px;  }
                            }
                            p { width:auto; margin:0 0 0 0.6rem; text-align:left; font-size:14px; line-height:18px; white-space: break-spaces; }
                        }
                    }
                }
        }




        .serviceWhychoose { 
            h2 { 
                span {  color:$blk1; font-size:22px; letter-spacing:1.32px; line-height: 36px;   }
                img { margin-left:3px; }
            }
            h3 { margin: 0.5rem 0 1.5rem 0; font-size:16px; line-height: 26px;  }
            section { 
                flex-wrap: wrap;
                ul { 
                    li { 
                        display: none;
                        h4 { font-size:16px; line-height: 28px;  }
                        p { margin: 0.2rem 0 0 0; font-size:14px; line-height: 20px;  }
                        &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) { display: block; }
                    }
                }
                aside { 
                    display: block; margin-top:1rem; width: 100%; float: left; text-align: center;
                    span { 
                       display: inline-block; color: $blu1; @include aBold(); font-size: 16px; line-height: 28px; @include outT(); cursor: pointer;
                       i.fa { margin-left: 5px; }
                       &:hover { color: $blk1;  @include inT(); }
                    }
                }
            }
        }



        .servicePricebyarea { 
            .servicePricebyareaLeft { 
                width: 85%;  padding: 1.5rem; margin-top: -50px;
                h2 { 
                    span { font-size:22px; letter-spacing:1.32px; line-height: 36px; }
                }
                p {  margin:0.5rem 0;  font-size:16px; line-height: 26px;  }
                section { 
                    flex-wrap: wrap;
                    h3 { width:100%; margin:0; font-size:11px; line-height: 28px;  }
                    h4 { width:auto; padding:0 1.5rem; margin:0 1rem 0 0; font-size:12px; line-height: 28px; }
                    .servicepinchange{ margin:0;}
                }
                h5 { font-size:40px; }
            }
        }






        .serviceFuelsavings {
            section {
                left:10%; width: 80%;  
                h2 { font-size:22px; letter-spacing:1.32px; line-height: 28px;}
                p { margin:0.7rem 0 1rem 0; font-size:16px; line-height: 26px; }
                aside { 
                    a.servicebutton {
                        font-size: 12px; letter-spacing: 0.3px; line-height: 18px;
                    }
                }
            }
        }

    

        .servicePipelineAvailable { 
            .serviceAvailableLeft { 
                width: 85%;  padding: 1.5rem; margin-top: -50px;
                h2 { 
                    span { font-size:22px; letter-spacing:1.32px; line-height: 36px; }
                }
                h3 {  margin:0.5rem 0;  font-size:16px; line-height: 26px;  }
                h4 {  margin:0 0 0.2rem 0; font-size:16px; line-height: 26px; }
                section { 
                    flex-wrap: wrap;
                    aside { 
                        width: 100%; margin-bottom: 1rem;
                        .pincodeinput { padding: 6px 5px; border-bottom-color:$blk6; color: $blk6; font-size: 16px; line-height: 24px; }
                        .districtselect { padding: 6px 1px;  border-bottom-color:$blk6; color: $blk6; font-size: 16px; line-height: 24px;  }
                    }
                }
                h5 { 
                    margin-top:0.5rem;
                    .gosubmit { font-size:14px; letter-spacing:0.33px; line-height: 18px; }
                }
                h6 {
                    margin-top:2rem;
                    a {
                        font-size:16px; line-height: 20px; 
                        span { border-bottom:none; padding-bottom: 0;  }
                    }
                } 
            }
        }


    }
    
    /* ######################## serviceothers ######################## */
    .serviceothers {
        padding:3rem 0 6rem 0;
        .serviceotherslider{
            .items { 
                h2 { top:15%; font-size:22px; letter-spacing:1.32px; line-height: 30px;  }
            }
        }
        h3 { display: none;  }
    } 

}



@media only screen and (max-width:359px) 
{
    
    /* ######################## serviceothers ######################## */
    .serviceothers {
        .serviceotherslider{
            .items { 
                h2 { top:10%; font-size:16px; letter-spacing:0.65px; line-height:24px;  }
            }
        }
    } 

}