/* ######################## csrWrap ######################## */
.teamsWrap { 
    width: 100%; float: left; padding: 2rem 0 4rem; background-color:$wht1;
        
    .teamAbout {
        width: 100%; float: left; 
        h2 { 
            width: 100%; float: left;  text-align: left; @include fSC(); 
            span {  color:$blk1; font-size:26px; letter-spacing:1.68px; line-height: 35px; @include aBlack();  }
            img { margin-left:5px; max-width: 100%;}
        }
        p { width:100%; float:left; margin-top:1rem; text-align: left; color: $blk2; @include Arial(); font-size: 16px; line-height: 26px; }
    }

    .teamTabs{
        width: 100%; float: left; margin:3rem 0 2rem 0; @include fCS();  
        ul {
            width: auto; padding: 0; @include fCC();  border-bottom: solid 1px $blk9; 
            &.disabled { user-select: none; pointer-events: none; }
            li {
                list-style: none; cursor: pointer; padding: 0 2rem 5px 2rem;  color: $blk9; font-size: 20px; line-height: 45px; @include Arial(); @include outT(); cursor: pointer;
                &:after { content: ''; position: absolute; bottom:-1px; left:0; width: 100%; height:4px; background:none; line-height: 0; font-size: 1px; }
                &.active {
                    border-bottom-color:$blu1; color:$blu1;  @include aBold(); @include inT(); position: relative; user-select: none; pointer-events: none;
                    &:after { background: $blu1; }
                }
            }
        }
    }

    .teamContainer {
        width: 100%; float: left; 
        
        .teamheader {  display: none;
            position: relative; width: 100%;  float: left; margin:0.4rem 0; list-style: none; cursor: pointer; padding:1rem; border-bottom: solid 1px $blk9;  color: $blk9; font-size: 18px; line-height: 45px; @include Arial(); @include outT(); cursor: pointer;
            &:after { content: "\f107"; position: absolute; top:50%; right:0.5rem; transform: translateY(-50%); @include FA(); color: $blk9;  font-size: 22px; @include outT(); }
            &.active {
                 color:$blu1;  @include aBold(); @include inT(); border-bottom: none;
                &:after { content: "\f106"; color:$blu1; @include inT(); }
            }
            &.disabled { user-select: none; pointer-events: none; }
        }
        .teamsection { 
            display: none; width: 100%; float: left; margin:0;  position: relative;  min-height: 100px; overflow: hidden;
            .teamsloader { 
                display: none; position: absolute; left:0; top: 1rem; z-index:99; width: 100%;  height: 100%; margin: 0; padding: 0; background:$wht1; text-align: center; 
                i.fa.fa-spinner {  font-weight: 900; color:$ong1; font-size:72px; }
              }
            ul {
                width: 100%; float: left; @include fCS(); flex-wrap: wrap; justify-content:center;
                li { 
                   list-style: none;  width: 24%; margin:1rem 0.5%;
                   aside { 
                        width: 100%; float: left; margin-bottom: -90px; text-align: center;
                        img { max-width: 200px; border-radius: 50%; padding:6px; border: solid 1px $ong1; }
                    }
                   .dp {
                        width: 100%; float: left; padding: 110px 1rem 2rem 1rem; box-shadow: 0px 6px 12px #00000014;
                        h2 { width: 100%; float: left; text-align: center;  font-size: 20px; line-height: 28px; color: $blk1; @include aBold(); }
                        h3 { width: 100%; float: left;  margin:0.4rem 0; text-align: center;  font-size: 16px; line-height: 26px; color:$blk2; @include Arial(); }
                        p { 
                            width: 100%; float: left; text-align: center;
                            span {
                                text-decoration: none; color:$blu3; @include aBold(); font-size:16px; line-height:26px; @include outT(); cursor: pointer;
                                i.fa { padding:0 5px;  @include outT(); }
                                &:hover {
                                    color: $blu1;  @include inT();
                                    i.fa { padding:0 0 0 10px; @include inT(); }
                                }
                            } 
                        }
                   }
                }
            }
            
        }
    }
}







@media only screen and (max-width:1300px) 
{
    /* ######################## csrWrap ######################## */
    .teamsWrap { 
        padding: 2rem 0 3rem;     
        .teamAbout { 
            h2 {   
                span {font-size:24px; letter-spacing:0.92px; line-height: 30px; }
            }
            p { font-size: 16px; line-height:24px; }
        }

        .teamTabs{
            ul {
                padding: 0; 
                li {
                    padding: 0 2rem 5px 2rem; font-size: 21px; line-height:42px; 
                }
            }
        }
        .teamContainer {
            .teamsection { 
                ul {
                    li { 
                     width: 31%; margin:1rem 0.5%;
                    aside { 
                            margin-bottom: -90px;
                            img { max-width: 180px; padding:5px;  }
                        }
                    .dp {
                            padding: 110px 1rem 2rem 1rem;
                            h2 { font-size: 18px; line-height: 28px;  }
                            h3 { font-size: 16px; line-height: 24px;  }
                            p { 
                                span { font-size:16px; line-height:24px;   } 
                            }
                    }
                    }
                }
                
            }
        }
    }

}



@media only screen and (max-width:1023px) 
{
    /* ######################## csrWrap ######################## */
    .teamsWrap { 
 
        .teamTabs{ display: none; }
        .teamContainer {
            .teamheader {  display: block; }
            .teamsection { 
                ul {
                    li { 
                     width: 32.3%; margin:1rem 0.5%;
                    aside { 
                            margin-bottom: -90px;
                            img { max-width: 150px; padding:5px;  }
                        }
                    .dp {
                            padding: 110px 1rem 2rem 1rem;
                            h2 { font-size: 18px; line-height: 28px;  }
                            h3 { font-size: 16px; line-height: 24px;  }
                            p { 
                                span { font-size:16px; line-height:24px;   } 
                            }
                    }
                    }
                }
                
            }
        }
    }

}


@media only screen and (max-width:767px) 
{
    /* ######################## csrWrap ######################## */
    .teamsWrap { 
        .teamContainer {
            .teamsection { 
                ul {
                    li { 
                     width: 48%; margin:1rem 1%;
                    aside { 
                            margin-bottom: -90px;
                            img { max-width:170px; padding:5px;  }
                        }
                    .dp {
                            padding: 110px 1rem 2rem 1rem;
                            h2 { font-size: 18px; line-height: 28px;  }
                            h3 { font-size: 16px; line-height: 24px;  }
                            p { 
                                span { font-size:16px; line-height:24px;   } 
                            }
                    }
                    }
                }
                
            }
        }
    }

}


@media only screen and (max-width:479px) 
{
    /* ######################## csrWrap ######################## */
    .teamsWrap { 

        .teamAbout {
            h2 { 
                span { font-size:22px; letter-spacing:1.32px; line-height: 36px; }
            }
            p {   font-size: 16px; line-height: 26px; }
        }


        .teamContainer {
            margin-top: 1rem;
            .teamheader {   
                margin:0.2rem 0;  padding:0.5rem; font-size: 20px; line-height: 45px; 
                &:after { right:0.4rem; font-size: 22px; }
            }
            .teamsection { 
                ul {
                    li { 
                     width:90%; margin:1rem auto;
                    aside { 
                            margin-bottom: -90px;
                            img { max-width:170px; padding:5px;  }
                        }
                    .dp {
                            padding: 110px 1rem 2rem 1rem;
                            h2 { font-size: 20px; line-height: 28px;  }
                            h3 { font-size: 16px; line-height: 28px;  }
                            p { 
                                span { font-size:16px; line-height:20px;   } 
                            }
                    }
                    }
                }
                
            }
        }
    }

}